.container {
    width: 100%;
    padding: 2.5vw;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

/* Top Bar */
.top-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top:1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    background: #131313;
}

.back-button {
    font-size: 2.0vw;
    cursor: pointer;
    color: white;
    margin-right: 10px;
}

.bar-text {
    font-size: 2.0vw;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    color: white;
    letter-spacing: 2.50px; 
    flex-grow: 1; 
    text-align: center; 
}

/* Top Bar End */

/* About Us */
.profile-image {
    width: 12vw; 
    height: 12vw; 
    border-radius: 50%; 
    overflow: hidden; 
    margin-left: 1vw;
}

.profile-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.name {
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: 'Inter', sans-serif; 
    font-size: 1.3vw;
    font-weight: 600; 
    letter-spacing: 1.0px;
    color: white;
}

/* 5 Social Media */
.social-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    margin-top: 1.5vw; 
    transform: scale(1.4);
}

.social-logo div {
    text-align: center;
}

.social-logo .fa-3x {
    color: white; 
    font-size: 1.3vw;
}

.social-logo .fa-3x:hover {
    color: rgb(155, 10, 212);
    transform: scale(1.2);
} 
/* 5 Social Media End */

/* Other Event Link */
.other-event-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-grow: 1;
    padding: 2.5vw;
    gap: 1.5vw;
}

.merch-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;    
    border-radius: 5vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    width: 50vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(155, 10, 212);
    position: relative;
    transition: background 0.3, transform 0.3;
}

.merch-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Reduced shadow */
    transform: translateY(5px);
    background: rgb(155, 10, 212);
}

.merch-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 2.5px;
    color: white;
}

.gpr-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;    
    border-radius: 5vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    width: 50vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(155, 10, 212);
    position: relative;
    transition: background 0.3, transform 0.3;
}

.gpr-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Reduced shadow */
    transform: translateY(5px);
    background: rgb(155, 10, 212);
}

.gpr-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 2.5px;
    color: white;
}

.pv-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;    
    border-radius: 5vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    width: 50vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(155, 10, 212);
    position: relative;
    transition: background 0.3, transform 0.3;
}

.pv-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Reduced shadow */
    transform: translateY(5px);
    background: rgb(155, 10, 212);
}

.pv-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 2.5px;
    color: white;
}

.mus-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;    
    border-radius: 5vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    width: 50vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(155, 10, 212);
    position: relative;
    transition: background 0.3, transform 0.3;
}

.mus-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Reduced shadow */
    transform: translateY(5px);
    background: rgb(155, 10, 212);
}

.mus-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 2.5px;
    color: white;
}

.fctc-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;    
    border-radius: 5vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    width: 50vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(155, 10, 212);
    position: relative;
    transition: background 0.3, transform 0.3;
}

.fctc-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Reduced shadow */
    transform: translateY(5px);
    background: rgb(155, 10, 212);
}

.fctc-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 2.5px;
    color: white;
}

.tbp-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;    
    border-radius: 5vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    width: 50vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(155, 10, 212);
    position: relative;
    transition: background 0.3, transform 0.3;
}

.tbp-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Reduced shadow */
    transform: translateY(5px);
    background: rgb(155, 10, 212);
}

.tbp-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 2.5px;
    color: white;
}

.jos-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;    
    border-radius: 5vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    width: 50vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(155, 10, 212);
    position: relative;
    transition: background 0.3, transform 0.3;
}

.jos-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Reduced shadow */
    transform: translateY(5px);
    background: rgb(155, 10, 212);
}

.jos-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 2.5px;
    color: white;
}

.dadca-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;    
    border-radius: 5vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    width: 50vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(155, 10, 212);
    position: relative;
    transition: background 0.3, transform 0.3;
}

.dadca-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Reduced shadow */
    transform: translateY(5px);
    background: rgb(155, 10, 212);
}

.dadca-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 2.5px;
    color: white;
}

.tstad-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;    
    border-radius: 5vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    width: 50vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(155, 10, 212);
    position: relative;
    transition: background 0.3, transform 0.3;
}

.tstad-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Reduced shadow */
    transform: translateY(5px);
    background: rgb(155, 10, 212);
}

.tstad-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 2.5px;
    color: white;
}

.bc-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;    
    border-radius: 5vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    width: 50vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(155, 10, 212);
    position: relative;
    transition: background 0.3, transform 0.3;
}

.bc-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Reduced shadow */
    transform: translateY(5px);
    background: rgb(155, 10, 212);
}

.bc-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 2.5px;
    color: white;
}

.cc-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;    
    border-radius: 5vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    width: 50vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(155, 10, 212);
    position: relative;
    transition: background 0.3, transform 0.3;
}

.cc-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Reduced shadow */
    transform: translateY(5px);
    background: rgb(155, 10, 212);
}

.cc-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 2.5px;
    color: white;
}

.oo-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;    
    border-radius: 5vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    width: 50vw;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(155, 10, 212);
    position: relative;
    transition: background 0.3, transform 0.3;
}

.oo-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    transform: translateY(5px);
    background: rgb(155, 10, 212);
}

.oo-text {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 700;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 2.5px;
    color: white;
}
/* Other Event Link End */