/* Top header Styling */
.header {
  width: 100%;
  height: 60px;
  background: linear-gradient(90deg, #FE348B 50%, #CC06FD 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: height 0.3s ease, padding 0.3s ease;
}

.header.shrink {
  height: 45px;
  padding: 5px 10px;
}

.header-structure {
  display: flex;
  gap: 15px; 
  flex-grow: 1; 
  justify-content: center; 
  flex-direction: row; 
}

/* Adjust the profile picture inside the header */
.header img {
  height: 60px; /* Initial size */
  transition: height 0.3s ease;
}

.header.shrink img {
  height: 45px; /* Smaller size when scrolled */
}

.header-item {
  margin: 0 20px;
  margin-top: 10px;
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  color: black;
  cursor: pointer;
  position: relative;
  font-family: 'Merriweather', serif;
}

/* Hover effect for header items */
.header-item:hover {
  color: #ffffff;
}

.header-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

/* .header-item:hover::after {
  transform: scaleX(1);
} */

.header-item i {
  margin-left: 5px;
}

/* Submenu for header */
.header-subitem {
  display: none;
  position: absolute;
  left: 0;
  background-color: #caa7f1;
  list-style-type: none;
  padding: 10px 0;
  margin-top: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 125px;
  border-radius: 8px;
}

/* Profile icon hover effect */
.profile-icon {
  padding-right: 20px;
  cursor: pointer; /* Add this to show the pointer cursor */
}

.profile-icon i {
  color: black;
  cursor: pointer; /* Add this to show the pointer cursor */
}

.profile-icon i:hover {
  color: white;
}

/* Menu items inside submenu */
.header-subitem li {
  padding: 5px 15px;
}

/* Menu links inside submenu */
.header-subitem li a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: 'Merriweather', serif;
  font-weight: 600;
}

/* Hover effect for submenu items */
.header-subitem li a:hover {
  color: white; 
}

/* Show submenu when hovering over the parent item */
.header-item:hover .header-subitem,
.header-subitem:hover {
  display: block;
}

/* end top header */

/* Footer Styles */
.footer {
width: 100%;
padding: 20px 0;
background: linear-gradient(90deg, #F508C2 40%, #F12346 100%);
color: white;
font-family: 'Merriweather', serif;
font-weight: 700;
text-align: center;
}

.footer-section {
display: inline-block;
vertical-align: top;
margin: 0 30px;
max-width: 220px;
}

.footer-section h3 {
font-size: 16px;
margin-bottom: 15px;
text-align: left;
}

.footer-section p {
font-size: 12px;
margin: 10px 0;
text-align: left;
}

.footer-section.follow-us{
margin-right: 0px;
margin-bottom: 0px;
}

.footer-section.register-now{
margin-left: 0px;
}

.footer-bottom {
margin-top: 20px;
}

.footer-bottom .line {
width: 80%;
margin: 0 auto;
border-top: 1px solid white;
}

.footer-bottom p {
font-size: 12px;
margin-top: 10px;
}

/* Social Media Icons */
.social-icons {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.social-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.social-item p {
  margin: 0;
}

.social-link {
  text-decoration: none; 
  color: inherit; 
  display: flex;
  align-items: center; 
}

/* end footer */