* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Merriweather', serif;
  }

  .container {
    width: 100%;
    height: 100%;    
    position: relative;
    background-color: black;
    overflow: hidden;
}

@media (max-width: 768px) {
  .container {
      background-color: #333; /* Change background color on smaller screens */
  }
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: 340px center;
}

.title {
    position: absolute;
    font-family: 'Irish Grover', cursive;
    left: 358px;
    top: 51px;
    text-align: center;
}

/* Glow Paint Run Text */
.title .text {
  font-size: 80px;
  font-family: 'Irish Grover', cursive; 
  text-align: center; 
  display: inline-block; 
  gap: 10px;
}

/* Glow effect */
.glow {
  color: #FF69B4; 
  -webkit-text-stroke: 1px #ffffff;
  /* text-shadow: 0 0 10px #FF69B4, 0 0 10px #FF69B4; */
  animation: pulseGlow 1.5s infinite ease-in-out; 
}

.paint {
  color: #AD8AED; 
  -webkit-text-stroke: 1px #ffffff;
  animation: pulseGlow 1.5s infinite ease-in-out; 
}

.run {
  color: #F4B743;
  -webkit-text-stroke: 1px #ffffff;
  animation: pulseGlow 1.5s infinite ease-in-out; 
}

.year {
  color: #FFEB3B; 
  -webkit-text-stroke: 1px #ffffff;
  animation: pulseGlow 1.5s infinite ease-in-out; 
}

@keyframes pulseGlow {
  0% {
      text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
      opacity: 1;
  }
  50% {
      text-shadow: 0 0 15px #ffffff, 0 0 25px #ffffff, 0 0 35px #ffffff, 0 0 45px #ffffff;
      opacity: 0.8;
  }
  100% {
      text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
      opacity: 1;
  }
}

.subtitle {
    color: white;
    font-size: 30px;
    font-family: 'Irish Grover', cursive;
}

.timer {
    height: 220px;
    position: absolute;
    top: 240px;
    left: 387px;
    display: flex;
    gap: 20px;
}

.time-box {
    width: 120px;
    height: 170px;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #D7D3EA;
    color: white;
    font-family: 'Irish Grover', cursive;
    font-size: 65px;
}

.days {
  left: 60px;
  top: 19px;
  background: rgba(255, 105, 180, 0.60);
}

.hours {
  left: 199px;
  top: 19px;
  background: rgba(208, 188, 254, 0.60);
}

.minutes {
  left: 338px;
  top: 19px;
  background: rgba(244, 183, 67, 0.60);
}

.seconds {
  left: 477px;
  top: 18px;
  background: rgba(255, 235, 59, 0.60);
}

.time-number {
    color: white;
    font-size: 65px;
    font-family: 'Irish Grover', sans-serif;
    font-weight: 400;
    letter-spacing: 6.5px;
    text-align: center;
 }
  
.time-label {
text-align: center;
color: white;
font-size: 12px;
font-family: 'Merriweather', serif;
font-weight: 700;
margin-top: 5px;
}

.register-section {
    position: absolute;
    top: 240px;
    left: 1000px;
    text-align: left;
}

.register-text {
    font-size: 20px;
    font-family: 'Irish Grover', cursive;
    color: transparent; 
    background-image: linear-gradient(0deg, #F508C2 25%, #FFB82B 75%);
    background-clip: text; 
    -webkit-background-clip: text;
}


.register-text2 {
    font-size: 18px;
    font-family: 'Irish Grover', cursive;
    color: white;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 13px 14px;
    background: linear-gradient(90deg, #33489c 50%, #00FFFF 100%);
    background-size: 200%; 
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    animation: gradient-flow 2s infinite; 
    transform: scale(1.05); 
}

@keyframes gradient-flow {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.certification {
    font-size: 18px;
    font-family: 'Irish Grover', cursive;
    color: white;
    margin-top: 15px;
}

.info-box {
  width: 274px;
  height: 158px;
  position: absolute;
  top: 255px;
  left: 65px;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  border: 3px solid transparent; 
  border-image: linear-gradient(0deg, #F508C2 25%, #FFB82B 75%) 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.info-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-item i {
  font-size: 24px; 
  margin-right: 10px; 
  color: transparent; 
  background-image: linear-gradient(0deg, #F508C2 25%, #FFB82B 75%);
  -webkit-background-clip: text; 
  background-clip: text; 
}

.info-text {
  font-size: 16px;
  font-family: 'Irish Grover', cursive;
  color: transparent; 
  background-image: linear-gradient(0deg, #F508C2 25%, #FFB82B 75%);
  background-clip: text; 
  -webkit-background-clip: text;
}

.overlay {
    width: 1440px;
    height: 222px;
    position: absolute;
    top: 510px;
    background: rgba(255, 255, 255, 0.30);
}

/* past event text */
.past-event {
    position: absolute;
    left: 53px;
    top: 20px;
    color: white;
    font-size: 32px;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 3.2px;
}

/* past photo background */
.white-boxes {
    display: flex;
    position: absolute;
    top: 70px;
    left: 39px;
    gap: 20px;
}

.white-box {
    width: 232px;
    height: 128px;
    background: white;
}

.dots {
    position: absolute;
    top: 202px;
    left: 678px;
    display: flex;
    gap: 4px;
}

.dot {
    width: 13px;
    height: 13px;
    background: white;
    border-radius: 50%;
}

.dot.active {
    background: #A020F0;
}

.Route {
    width: 100%;
    height: 225px;
    position: relative;
    background: black;
  }
  
  .Image1 {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .EventRoute {
    left: 565px;
    top: 84px;
    position: absolute;
    color: white;
    font-size: 48px;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    letter-spacing: 4.80px;
    word-wrap: break-word;
  }

  .Packages {
    width: 100%;
    height: 225px;
    position: relative;
    background: black;
  }

  .Image2 {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .EventPackage {
    left: 565px;
    top: 84px;
    position: absolute;
    color: white;
    font-size: 48px;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    letter-spacing: 4.80px;
    word-wrap: break-word;
  }

/* footer */
