/* Event Content */
.content {
  width: 100%;
  height: 100%;    
  position: relative;
  background-color: black;
  overflow-x: auto;
  white-space: nowrap;
}

.background-img {
  display: block;
  width: 100%;
  height: auto;
}

.title {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 15%; 
  left: 50%; 
  transform: translate(-50%, -15%); 
  padding: 10px 20px; 
  font-size: 20px; 
  text-align: center;
  font-family: 'Irish Grover', cursive;
}

/* Glow Paint Run Text */
.title .text {
  font-size: 90px;
  font-family: 'Audiowide', sans-serif;
  /* font-family: 'Bangers', cursive; */
  /* font-family: 'Orbitron', sans-serif; */

  color: white;
  text-shadow: 0 0 5px #00FFFF, 0 0 15px #00FFFF, 0 0 30px #00FFFF, 0 0 60px #00FFFF;
  transition: text-shadow 0.3s ease;
}

/* LED Glow Effect */
.glow {
  color: #00FFFF; /* Cyan Blue */
  -webkit-text-stroke: 2px #FFFFFF;
  animation: ledGlow 1.5s infinite ease-in-out;
}

.paint {
  color: #00FF00; /* Green */
  -webkit-text-stroke: 2px #FFFFFF;
  animation: ledGlow 1.7s infinite ease-in-out;
}

.run {
  color: #FF1493; /* Deep Pink */
  -webkit-text-stroke: 2px #FFFFFF;
  animation: ledGlow 1.9s infinite ease-in-out;
}

.year {
  color: #FFEB3B; /* Yellow */
  -webkit-text-stroke: 2px #FFFFFF;
  animation: ledGlow 2.1s infinite ease-in-out;
}

/* Keyframe Animation for LED Glow with Multiple Colors */
@keyframes ledGlow {
  0% {
    text-shadow: 0 0 5px #FF1493, 0 0 10px #FF1493, 0 0 15px #FF1493, 0 0 20px #FF1493; /* Deep Pink */
    opacity: 1;
  }
  25% {
    text-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00, 0 0 15px #00FF00, 0 0 20px #00FF00; /* Green */
    opacity: 1;
  }
  50% {
    text-shadow: 0 0 5px #FFEB3B, 0 0 10px #FFEB3B, 0 0 15px #FFEB3B, 0 0 20px #FFEB3B; /* Yellow */
    opacity: 0.8;
  }
  75% {
    text-shadow: 0 0 5px #FF00FF, 0 0 10px #FF00FF, 0 0 15px #FF00FF, 0 0 20px #FF00FF; /* Magenta */
    opacity: 1;
  }
  100% {
    text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF, 0 0 15px #00FFFF, 0 0 20px #00FFFF; /* Cyan Blue */
    opacity: 1;
  }
}

.subtitle {
    color: white;
    font-size: 50px;
    font-family: 'Irish Grover', cursive;
}

.timer {
  position: absolute;
  top: 45%; 
  left: 50%; 
  transform: translate(-50%, -45%); 
  padding: 10px 20px; 
  display: flex;
  gap: 20px;
}

.time-box {
  width: 120px;
  height: 165px;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #D7D3EA;
  color: white;
  font-family: 'Irish Grover', cursive;
  font-size: 65px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.days {
background: linear-gradient(45deg, rgba(255, 105, 180, 0.60), rgba(255, 20, 147, 0.60));
}

.hours {
background: linear-gradient(45deg, rgba(208, 188, 254, 0.60), rgba(123, 104, 238, 0.60));
}

.minutes {
background: linear-gradient(45deg, rgba(244, 183, 67, 0.60), rgba(255, 165, 0, 0.60));
}

.seconds {
background: linear-gradient(45deg, rgba(255, 235, 59, 0.60), rgba(255, 223, 0, 0.60));
}

.time-number {
  color: white;
  font-size: 65px;
  font-family: 'Irish Grover', sans-serif;
  font-weight: 400;
  letter-spacing: 6.5px;
  text-align: center;
  animation: pulse 1s infinite;
}

.time-label {
  text-align: center;
  color: white;
  font-size: 12px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  margin-top: 5px;
}

/* Pulse animation */
@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.Past-Event {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 380px 40px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

/* Past Event Title */
.past-event-text {
  position: absolute;
  align-items: center;
  bottom: 360px;
  color: white;
  font-size: 32px;
  font-family: 'Irish Grover', cursive;
  letter-spacing: 3.2px;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.item {
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  width: clamp(200px, 50vw, 400px); 
  height: clamp(150px, 55vh, 300px);
  background-color: white;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
}
div.item:nth-of-type(2) {
  --offset: 2;
}
div.item:nth-of-type(3) {
  --offset: 3;
}
div.item:nth-of-type(4) {
  --offset: 4;
}
div.item:nth-of-type(5) {
  --offset: 5;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

.radio-buttons {
  display: flex;
  grid-row: 2 / 3;
  grid-column: 1 / 8;
  justify-content: center;
  gap: 10px;
}

input[type="radio"] {
  width: 12px;
  height: 12px;
  appearance: none;
  background-color: #fff;
  border: 1px solid #A020F0;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

input[type="radio"]:checked {
  background-color: #A020F0;
  transform: scale(1.2);
}

/* When hovering over the radio button */
input[type="radio"]:hover {
  background-color: #D8A0F0;
  transform: scale(1.1);
}

/* End Event Content */

/* Registration */
.register-section {
    position: absolute;
    top: 45%; 
    left: 95%; 
    transform: translate(-95%, -45%); 
    text-align: left;
}

.register-text {
    font-size: 20px;
    font-family: 'Irish Grover', cursive;
    color: transparent; 
    background-image: linear-gradient(0deg, #F508C2 25%, #FFB82B 75%);
    background-clip: text; 
    -webkit-background-clip: text;
}

.register-text2 {
    font-size: 18px;
    font-family: 'Irish Grover', cursive;
    color: white;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 13px 14px;
    background: linear-gradient(90deg, #33489c 50%, #00FFFF 100%);
    background-size: 200%; 
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    animation: gradient-flow 2s infinite; 
    transform: scale(1.05); 
}

@keyframes gradient-flow {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.certification {
    font-size: 18px;
    font-family: 'Irish Grover', cursive;
    color: white;
    margin-top: 15px;
}

/* Registration End */

/* Main Info */
.info-box {
  width: 274px;
  height: 158px;
  position: absolute;
  top: 45%; 
  left: 5%; 
  transform: translate(-5%, -45%); 
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  border: 3px solid transparent; 
  border-image: linear-gradient(0deg, #F508C2 25%, #FFB82B 75%) 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.info-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-item i {
  font-size: 24px; 
  margin-right: 10px; 
  color: transparent; 
  background-image: linear-gradient(0deg, #F508C2 25%, #FFB82B 75%);
  -webkit-background-clip: text; 
  background-clip: text; 
}

.info-text {
  font-size: 16px;
  font-family: 'Irish Grover', cursive;
  color: transparent; 
  background-image: linear-gradient(0deg, #F508C2 25%, #FFB82B 75%);
  background-clip: text; 
  -webkit-background-clip: text;
}
/* Main Info End */
 
/* Route */
.Route {
  width: 100%;
  height: 225px;
  position: relative;
}

.Image1 {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transition: filter 0.5s ease;
}

.Route:hover .Image1 {
  filter: blur(3px); 
}

.EventRoutetext1 {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translateX(-50%) translateY(-50%); 
  transition: transform 0.5s ease, opacity 0.5s ease;
  color: white;
  font-size: 48px;
  font-family: 'Irish Grover', cursive;
  font-weight: 400;
  letter-spacing: 4.80px;
  white-space: nowrap;
  opacity: 0; 
}

.Route:hover .EventRoutetext1 {
  transform: translateX(50%) translateY(-50%); 
  opacity: 0; 
}

.Route:not(:hover) .EventRoutetext1 {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1; 
}

.EventRoutetext2 {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translateX(-100%) translateY(-50%); 
  transition: transform 0.5s ease, opacity 0.5s ease;
  color: white;
  font-size: 48px;
  font-family: 'Irish Grover', cursive;
  font-weight: 400;
  letter-spacing: 4.80px;
  white-space: nowrap;
  opacity: 0; 
}

.Route:hover .EventRoutetext2 {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1; 
}

.Route:not(:hover) .EventRoutetext2 {
  transform: translateX(-100%) translateY(-50%); 
  opacity: 0;  
}

/* Route End */

/* Packages */
.Packages {
  width: 100%;
  height: 225px;
  position: relative;
  overflow: hidden; 
}

.Image2 {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transition: filter 0.5s ease;
}

.Packages:hover .Image2 {
  filter: blur(3px); 
}

.EventPackagetext1 {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translateX(-50%) translateY(-50%); 
  transition: transform 0.5s ease, opacity 0.5s ease;
  color: white;
  font-size: 48px;
  font-family: 'Irish Grover', cursive;
  font-weight: 400;
  letter-spacing: 4.8px;
  white-space: nowrap;
  opacity: 1;
}

.Packages:hover .EventPackagetext1 {
  transform: translateX(-100%) translateY(-50%); 
  opacity: 0; 
}

.Packages:not(:hover) .EventPackagetext1 {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1; 
}

.EventPackagetext2 {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translateX(-50%) translateY(-50%); 
  transition: transform 0.5s ease, opacity 0.5s ease;
  color: white;
  font-size: 48px;
  font-family: 'Irish Grover', cursive;
  font-weight: 400;
  letter-spacing: 4.8px;
  white-space: nowrap;
  opacity: 0;
}

.Packages:hover .EventPackagetext2 {
  transform: translateX(-50%) translateY(-50%); 
  opacity: 1; 
}

.Packages:not(:hover) .EventPackagetext2 {
  transform: translateX(50%) translateY(-50%);
  opacity: 0; 
}

/* For left slide in, right slide out */
@keyframes slide-in {
  0% {
    transform: translate(-150%, -50%); 
  }
  100% {
    transform: translate(-50%, -50%); 
  }
}

@keyframes slide-out {
  0% {
    transform: translate(-50%, -50%); 
  }
  100% {
    transform: translate(100%, -50%); 
  }
}

/* For right slide in, left slide out */
@keyframes slide-in2 {
  0% {
    transform: translateX(100%) translateY(-50%); 
  }
  100% {
    transform: translateX(-50%) translateY(-50%); 
  }
}

@keyframes slide-out2 {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    transform: translateX(-250%) translateY(-50%); 
  }
}

/* Packages End */

/* Sponsor */
  .Sponsors {
    width: 100%;
    height: 300px;
    position: relative;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sponsor-text {
    position: absolute;
    left: 50%;
    top: 10px;
    margin-bottom: 20px;
    transform: translateX(-50%);
    color: white;
    font-size: 32px;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 3.2px;
  }

.sponsor-logos {
  width: 80%;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  gap: 45px; 
  flex-wrap: wrap; 
  padding: 65px;
}

.sponsor-logos .Logo1, 
.sponsor-logos .Logo3, 
.sponsor-logos .Logo4 {
  width: clamp(100px, 25vw, 150px);  
  height: auto;
  transition: transform 0.3s ease;
}

.sponsor-logos .Logo2 {
  width: clamp(70px, 15vw, 100px);  
  height: auto;
  transition: transform 0.3s ease;
}

.sponsor-logos .Logo1, 
.sponsor-logos .Logo2, 
.sponsor-logos .Logo3, 
.sponsor-logos .Logo4:hover {
  transform: scale(1.1); 
}
