.container h1 {
    position: relative;
    font-family: 'Irish Grover', cursive;
    font-size: 2.0vw;
    font-weight: 400; 
    letter-spacing: 2.50px; 
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    color: white;
}

.container {
    height: 50px;
    text-align: center;
    background-color: rgb(12, 12, 12);
}

.content {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
}

/* Column Left */

.map-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2.5vw;
    font-family: 'Inter', sans-serif;    
    font-size: 1.5vw;
    font-weight: 700; 
    letter-spacing: 1.0px;
    color: white;
}

.map-image {
    background-color: black;
    border: 2px solid #9B4DFF; 
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 1vw;
}

.upload-button {
    margin-top: 3vw;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    background-color: #f8d40a;
    border: 2px solid;
    border-color: #f8d40a;
    font-family: 'Inter', sans-serif; 
    font-size: 1.2vw;
    font-weight: 600; 
    color: black;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.upload-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid;
    border-color: #f8d40a;
    color: #f8d40a;
}
/* Column Left */

/* Column Right */
.column-right {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5vw;
}

.location label {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    letter-spacing: 2.50px;
    letter-spacing: 1.0px;
    color: white;
}

.location input {
    font-family: 'Inter', sans-serif;    
    font-size: 1.0vw;
    font-weight: 400; 
    letter-spacing: 1.0px;
    color: black;
    background-color: white;
    border: 2px solid transparent; 
    border-image: linear-gradient(0deg, #F508C2 25%, #FFB82B 75%) 1;
    border-radius: 5px;
    width: 30vw;
    height: 2.5vw;
    padding-left: 0.8vw;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}

.location input::placeholder {
    color: rgb(14, 14, 14);
  }

.background-img {
    margin-top: 1.0vw;
    margin-bottom: 1.0vw;
    width: 30vw;
    height: auto;
}

.upload-image .upload-image-button {
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    background-color: #f8d40a;
    border: 2px solid;
    border-color: #f8d40a;
    font-family: 'Inter', sans-serif; 
    font-size: 1.2vw;
    font-weight: 600; 
    color: black;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 3vw;
}

.upload-image-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid;
    border-color: #f8d40a;
    color: #f8d40a;
}

.upload-image label{
    margin-top: 1.0vw;
    margin-bottom: 0.2vw;
    font-family: 'Inter', sans-serif;    
    font-size: 1.5vw;
    font-weight: 700; 
    letter-spacing: 1.0px;
    color: black;
}
/* Right Column End */