.kit-package-container {
    width: 100%;
    padding: 2.5vw;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

/* Top Bar */
.top-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top:1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    background: #131313;
}

.back-button {
    font-size: 2.0vw;
    cursor: pointer;
    color: white;
    margin-right: 10px;
}

.bar-text {
    font-size: 2.0vw;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    color: white;
    letter-spacing: 2.50px; 
    flex-grow: 1; 
    text-align: center; 
}

/* Top Bar End */

/* Cards */
.package-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    color: white;
}

.card {
    background-color: #000000;
    border: 2px solid ;
    border-image: linear-gradient(180deg, #04FBFF, #1230AE) 5;
    border-radius: 10px;
    border-width: 5px;
    width: 350px;
    height: 515px;
    padding: 15px;
    text-align: center;
    position: relative;
}

.package-title {
    background: linear-gradient(to right, #04FBFF, #1230AE);
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.package-items {
    list-style-type: none;
    margin-bottom: 35px;
}

.package-items li {
    font-size: 18px;
    padding-bottom: 12px;
    margin: 5px 0;
}

.price-button {
    width: 100%;
    position : sticky;
    background-color: transparent;
    color: white;
    border: 3px solid;
    border-image: linear-gradient(to right, #04FBFF, #1230AE) 5;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.student-note {
    font-size: 10px;
    font-family: 'Inter', cursive;
    margin-top: 15px;
    color: #ffcc00;
}

.terms-note {
    font-size: 12px;
    font-family: 'Inter', cursive;
    color: #ffcc00;
    margin-top: 10px;
}

.running-kit-details {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    border-top: 2px solid #00ccff;
    border-image: linear-gradient(to right, #04FBFF, #1230AE, #04FBFF) 5;
    border-bottom: 2px solid #ff00ff;
    margin-bottom: 50px;
}

.details-title {
    font-size: 32px;
    margin-bottom: 15px;
    color: white;
    text-decoration: underline;
}

.details-note {
    margin-top: 10px;
    font-family: 'Inter', cursive;
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
}

.details {
    display: flex;
    flex-direction: row;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 2vw;
    font-weight : bold;
    letter-spacing: 2px;
}

.details-date {
    border: 3px solid;
    border-image: linear-gradient(to right, #04FBFF, #1230AE) 5;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.details-time {
    border: 3px solid;
    border-color: #1230AE;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.details-venue {
    border: 3px solid;
    border-image: linear-gradient(to left, #04FBFF, #1230AE) 5;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

