.container {
    width: 100%;
    padding: 2.5vw;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

/* Top Bar */
.top-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top:1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    background: #131313;
}

.bar-text {
    font-size: 2.0vw;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    color: white;
    letter-spacing: 2.50px; 
    flex-grow: 1; 
    text-align: center; 
}
/* Top Bar End */

/* Route Map Image Container */
.img-content {
    position: relative;
    width: 65vw;
    height: auto; 
    z-index: 1;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Legend Container */
.legend-container {
    position: absolute;
    top: 11vw;
    left: 5vw;
    text-align: center;
    font-family: 'Inter', sans-serif; 
    font-weight: 600;
    letter-spacing: 1.0px;
    color: white;
    z-index: 2;
}

.legend-container h2 {
    font-family: 'Irish Grover', cursive;
    font-size: 2.5vw;
    font-weight: 400; 
    letter-spacing: 2.50px; 
    margin-bottom: 0.8vw;
    color: white;
    text-shadow: 
        -1px -1px 0 #D8A0FF,  
        1px -1px 0 #D8A0FF,  
        -1px 1px 0 #D8A0FF,  
        1px 1px 0 #D8A0FF; 
    text-align: left;
}

.legend-box {
    height: 12.5vw;
    width: 20.5vw;
    border: 5px solid transparent; 
    border-image: linear-gradient(180deg, rgba(216, 160, 255, 0.5) 40%, rgba(155, 77, 255, 0.5) 100%);
    border-image-slice: 1; 
    padding: 5vw;
    background-color: rgba(0, 0, 0, 0.3); 
    color: white;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start;
}

.mainpoint-icon {
    position: absolute;
    color: red;
    top: 5.5vw;
    left: 2vw;
    font-size: 1.2vw;
}

.directionpath-icon {
    position: absolute;
    color: yellow;
    top: 8vw;
    left: 2vw;
    font-size: 1.2vw;
}

.startfinish-icon {
    position: absolute;
    color: white;
    top: 12.2vw;
    left: 2vw;
    font-size: 1.05vw;
}

.text1 {
    position: absolute;
    font-size: 1.5vw;
    color: white;
    top: 5.7vw;
    left: 6vw;
}

.text2 {
    position: absolute;
    font-size: 1.5vw;
    color: white;
    top: 9vw;
    left: 6vw;
}

.text3 {
    position: absolute;
    font-size: 1.5vw;
    color: white;
    top: 12.4vw;
    left: 6vw;
}

/* Listbox */
.listbox {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    text-align: center; 
    padding-bottom: 2vw;
}

.listbox label {
    display: block;
    font-size: 1.2vw;
    margin-bottom: 8px;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    letter-spacing: 2.5px;
    color: white;
}

.listbox select {
    padding: 12px;
    font-size: 1.1vw;
    background-color: white;
    border: 2px solid transparent; 
    border-color: #D8A0FF;
    border-radius: 5px;
    color: black;
    width: 100%;
}

/* Popup Window */
.popup-content {
    position: relative;
    background: #1A1A1A;
    margin: auto; 
    width: 35vw;
    max-width: 100vw;
    height: auto; 
    overflow-x: hidden;
    overflow-y: hidden; 
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
}

.popup-content img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
  /* Popup Window End */