/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Irish Grover', cursive;
    background-color: #000;
    color: #fff;
}

nav ul {
    background: linear-gradient(to right, #ff00cc, #3333ff);
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
}

.map-container {
    text-align: center;
    margin-top: 20px;
}

.map {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

/* Legend Container */
.legend-container {
    position: absolute;
    top: 120px;
    left: 40px;
    text-align: center;
    font-family: 'Irish Grover', cursive;
}

.legend-container h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    background: linear-gradient(to right, #AE0AEF 50%, #FA0EBF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.legend-box {
    width: 200px;
    border: 8px solid;
    border-image: linear-gradient(to right, #04FBFF, #1230AE) 5;
    padding: 10px;
    background-color: #000;
    color: white;
}

.mainpoint-icon {
    padding-top: 5px;
    display: flex;
    align-items: center;
    padding-bottom: 13px;
    padding-left: 3px;
    margin: 5px 0;
    color: red;
}

.directionpath-icon {
    padding-top: 5px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin: 5px 0;
    color: yellow;
}

.startfinish-icon {
    padding-top: 5px;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin: 5px 0;
    color: greenyellow;
}

.direction-path {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid yellow; /* Triangle shape */
}

.text1 {
    color: white;
    padding-left: 17px;
}

.text2 {
    color: white;
    padding-left: 15px;
}

.text3 {
    color: white;
    padding-left: 15px;
}