/* Top Bar */
.top-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding-top:1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  background: #131313;
}

.back-button {
  font-size: 2.0vw;
  cursor: pointer;
  color: white;
  margin-right: 10px;
}

.bar-text {
  font-size: 2.0vw;
  font-family: 'Irish Grover', cursive;
  font-weight: 400;
  color: white;
  letter-spacing: 2.50px; 
  margin-left: 210px;
}

button {
  padding: 0.8vw 1vw;
  background: #e60d0d;
  background-size: 300%;
  border-radius: 0.8vw;
  color: white;
  font-family: 'Inter', sans-serif; 
  font-size: 1.2vw;
  font-weight: 600; 
  border: 2px solid;
  border-color: #e60d0d;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  white-space: nowrap;
  min-width: 180px; 
  margin-left: 10px; 
}

button:hover {
  animation: gradient-flow 1.2s infinite linear;
  transform: scale(1.00);
  box-shadow: 0px 0.2vw 1vw rgba(255, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid;
  border-color: #e60d0d;
  color: #e60d0d;
}

@keyframes gradient-flow {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

/* Top Bar End */

/* Registration Form */
.form-container {
    width: 100%;
    background-color: #1A1A1A;
    padding: 1.46vw;
    color: white;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    letter-spacing: 2.50px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .column-left,
  .column-right {
    width: 50%;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    display: block;
    font-size: 1.1vw;
    margin-top: 0.73vw;
    margin-bottom: 0.6vw;
    margin-left: 4.25vw;
  }
  
  .input-group input {
    width: 73.5%;
    margin-left: 4.1vw;
    margin-bottom: 20px;
    padding: 12px;
    font-size: 1.0vw;
    background-color: white;
    border: 2px solid transparent; 
    border-image: linear-gradient(0deg, #F508C2 25%, #FFB82B 75%) 1;
    border-radius: 5px;
    color: black
  }
  
  .input-group input::placeholder {
    color: rgb(14, 14, 14);
  }
  
  .input-group input[readonly] {
    background-color: rgb(255, 255, 255);
  } 

  .t-shirt-text {
    display: block;
    font-size: 1.1vw;
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: 400;
    color: white;
  }
  
  .size-selection-images {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .shirt-size,
  .shirt-size-chart {
    width: 30%;
    border-radius: 5px;
    margin-right: 3.5vw;
  }
  
  .additional-info {
    font-size: 1.0vw;
    color: white;
    font-family: 'Irish Grover', cursive;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 20px;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    white-space: normal; 
    width: 100%; 
    box-sizing: border-box; 
  }

  .package-link {
    color: white;
    text-decoration: underline;
    margin-left: 4.1vw;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }

  .package-link:hover {
    color: #e60d0d;
  }

  .proceed-button {
    display: flex;
    justify-content: center;
    margin-top: 80px;   
    margin-bottom: 20px;
  }
  
  .btn-proceed {
    padding: 13px 14px;
    background: #e60d0d;
    background-size: 300%;
    border-radius: 10px;
    color: white;
    font-family: 'Inter', sans-serif; 
    font-size: 1.2vw;
    font-weight: 600; 
    border: 2px solid;
    border-color: #e60d0d;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .btn-proceed:hover {
    animation: gradient-flow 1.2s infinite linear;
    transform: scale(1.00);
    box-shadow: 0px 0.2vw 1vw rgba(255, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid;
    border-color: #e60d0d;
    color: #e60d0d;
  }
  
  @keyframes gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
  }
  
  .size-selection-images2 {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .ShirtSize {
    width: 30%;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .ShirtSizeChart {
    width: 100%;
    border-radius: 5px;
    margin-right: 4.1vw;
  }

  .size-selection-images3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .MeasurementArea {
    color: white;
    font-size: 0.8vw;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    margin-top: 10px;
    letter-spacing: 1px;
    text-align: left; /* Align text to the left */
    word-wrap: break-word;
  }

  /* For t-shirt size selection */
  .input-group2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 4.1vw;
  }
  
  .input-group2 label {
    display: block;
    font-size: 1.1vw;
    margin-bottom: 0.6vw;
    margin-right: 4.1vw;
    font-weight: 500;
  }
  
  .input-group2 select {
    width: 90%;
    margin-right: 4.1vw;
    padding: 12px;
    font-size: 1.0vw;
    background-color: white;
    border: 2px solid transparent; 
    border-image: linear-gradient(0deg, #F508C2 25%, #FFB82B 75%) 1;
    border-radius: 5px;
    color: black
  }

  #full-name::placeholder {
    color: gray;
  }

  #matric-number::placeholder {
    color: gray;
  }

  #phone-number::placeholder {
    color: gray;
  }

  #email::placeholder {
    color: gray;
  }
/* End */
  
/* For the campus and packages selection */
  .input-group3 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4.1vw;
  }
  
  .input-group3 label {
    display: block;
    font-size: 1.1vw;
    margin-bottom: 0.6vw;
    font-weight: 500;
  } 
  
  .input-group3 select {
    width: 80%;
    padding: 12px;
    font-size: 1.0vw;
    background-color: white;
    border: 2px solid transparent; 
    border-image: linear-gradient(0deg, #F508C2 25%, #FFB82B 75%) 1;
    border-radius: 5px;
    color: black;
    margin-bottom: 20px;
  }
  /* End */

  /* For school selection */
  .input-group4 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 4.1vw;
  }
  
  .input-group4 label {
    display: block;
    font-size: 1.1vw;
    margin-bottom: 8px;
    font-weight: 500;
  } 
  
  .input-group4 select {
    width: 80%;
    padding: 12px;
    font-size: 1.0vw;
    background-color: white;
    border: 2px solid transparent; 
    border-image: linear-gradient(0deg, #F508C2 25%, #FFB82B 75%) 1;
    border-radius: 5px;
    color: black;
    margin-bottom: 20px;
  }

  .extra-input-group4 {
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 4.1vw;
  }

  .extra-input-group4 label {
    display: block;
    font-size: 1.3vw;
    margin-bottom: 8px;
    font-weight: 500;
  } 

.extra-input-group4 label[for="yes"],
.extra-input-group4 label[for="no"] {
    font-size: 1.1vw !important;
    color: white;
    font-family: 'Inter', sans-serif; 
    font-weight: 500; 
}
  
  .extra-input-group4 input[type="radio"] {
    padding: 10px;
    font-size: 12px;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 5px;
    color: black;
}

.extra-input-group4 select {
    width: 73%;
    margin-bottom: 20px;
    font-size: 1.0vw;
}
  /* End */

   /* Popup Window */
   .popup-window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-content {
    font-family: 'Inter', cursive;
    letter-spacing: 1.0px;
    position: relative;
    background: white;
    border-radius: 5px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 800px;
    max-height: 80%;
    overflow-y: auto;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 1.5vw;
    color: black;
    cursor: pointer;
    background: transparent;
    border: none;
  }
  
  .close-btn:hover {
    color: rgb(98, 98, 98);
  }
  
  .popup-content h2 {
    font-size: 1.5vw;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
  }
  
  .popup-body {
    font-size: 1.2vw;
    color: black;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .popup-body ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1.0vw;
    color: black;
  }
  
  .popup-body h3 {
    font-size: 1.1vw;
    margin-top: 20px;
    color: black;
  }
  /* Popup Window End */
  