/* Top Bar */
.top-bar {
    padding-top:1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #131313;
    width: 100%; 
}

.back-button {
    font-size: 1.46vw;
    cursor: pointer;
    color: white;
    margin-right: 0.73vw; 
}

.bar-text { 
    font-size: 2.0vw;
    font-family: 'Irish Grover', cursive;
    font-weight: 400;
    color: white;
    letter-spacing: 2.50px; 
    flex-grow: 1; 
    text-align: center; 
    margin-left: 10vw;
}

button {
    background-color: #e60d0d;
    border: 2px solid #e60d0d;
    border-radius: 5px; 
    color: white;
    padding: 0.8vw 1.1vw; 
    font-family: 'Inter', sans-serif; 
    font-size: 1.2vw;
    font-weight: 600; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    margin-left: 10px; 
}

button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid;
    border-color: #e60d0d;
    color: #e60d0d;
}
/* Top Bar End */

/* Search Function */
.search-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 0.73vw; /* 10px converted */
    margin-bottom: 1.46vw; /* 20px converted */
    margin-top: 1.46vw; /* 20px converted */
    margin-left: 1.46vw; /* 20px converted */
    margin-right: 1.46vw; /* 20px converted */
}

#search {
    flex: 2;
    padding: 0.73vw; /* 10px converted */
    border: 0.15vw solid gray; /* 2px converted */
    border-radius: 0.37vw; /* 5px converted */
    font-size: 1.02vw; /* 14px converted */
}

.filters select {
    flex: 1;
    padding: 0.73vw; /* 10px converted */
    border: 0.15vw solid gray; /* 2px converted */
    border-radius: 0.37vw; /* 5px converted */
    font-size: 1.02vw; /* 14px converted */
}

/* Search Function End */

/* Participant Table */
/* Odd row */
.participant-table tbody tr:nth-child(odd) {
    background-color: rgb(255, 248, 248); 
    color: black; 
}

/* Event row */
.participant-table tbody tr:nth-child(even) {
    background-color: #ffcaca;
    color: black; 
}

.participant-table {
    border-collapse: collapse;
    margin-bottom: 3.66vw;
    margin-left: 1.46vw;
    margin-right: 1.46vw;
}

.participant-table th, .participant-table td {
    padding: 0.73vw;
    border: 0.12vw solid white;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

th {
    font-size: 1.17vw;
    font-weight: 600;
    background-color: #660000;    
    color: #fff;
}

td {
    font-size: 1.02vw;
}

.hidden-column {
    display: none;
}

th:nth-child(1), td:nth-child(1) {
    width: 3.66vw; /* 50px converted */
}

th:nth-child(2), td:nth-child(2) { /* Name */
    width: 18.29vw; /* 250px converted */
}

th:nth-child(3), td:nth-child(3), /* Unique Number */
th:nth-child(4), td:nth-child(4) { /* Phone */
    width: 11.71vw; /* 160px converted */
}

th:nth-child(5), td:nth-child(5) { /* Email */
    width: 14.64vw; /* 200px converted */
}

th:nth-child(6), td:nth-child(6), /* Packages */
th:nth-child(7), td:nth-child(7) { /* T-Shirt Size */
    width: 9.52vw; /* 130px converted */
}

th:nth-child(8), td:nth-child(8), /* Total Amount and File Upload */
th:nth-child(9), td:nth-child(9) {
    width: 5.85vw; /* 80px converted */
}

th:nth-child(10), td:nth-child(10), /* Kit and attend checkbox */
th:nth-child(11), td:nth-child(11) {
    width: 6.22vw; /* 85px converted */
}

input[type="checkbox"] {
    width: 1.46vw; /* 20px converted */
    height: 1.46vw; /* 20px converted */
}

.download-link {
    color: #003871;
    text-decoration: none;
}

.download-link:hover {
    text-decoration: underline;
}

/* Participant Table End */