<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glow Paint Run</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header&footer.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about_us.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
    
        <div class="header-structure-left">
            <div class="header-item" onclick="window.location.href='/'">Dashboard</div>

            <div class="header-item">Register
                <i class="fa fa-caret-down"></i>
                <ul class="header-subitem">
                    <li><a href="#" onclick="window.location.href='/Public/student_register'">USM Student</a></li>
                    <li><a href="#" onclick="window.location.href='/Public/public_register'">Public</a></li>
                </ul>
            </div>

            <div class="header-item" onclick="window.location.href='/Public/route'">Event Route</div>
            <div class="header-item" onclick="window.location.href='/Public/packages'">Packages</div>
            
            <div class="header-item">About Us
                <i class="fa fa-caret-down"></i>
                <ul class="header-subitem">
                    <li><a href="#" onclick="window.location.href='/Public/about_us'">About Us</a></li>
                    <li><a href="#" onclick="window.location.href='/Public/contact_us'">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="header-structure-right">
            <div class="login-btn" onclick="window.location.href='/Organiser/login'">
                <i class='fas fa-user-alt'></i>
                <div class="login-text">Login</div>
            </div>
        </div>
    </div>   
    <div class="top-bar">       
        <div class="bar-text">ABOUT US</div>
    </div>

    <div class="container">
    <div class="information">
        <div class="profile-image">
            <img src="data:image/png;base64,{{ profile.picture }}" alt="profile_pic">
        </div>
        <div class="name">
            <span>{{ profile.name1 }} <br> {{ profile.name2 }}</span>
        </div>

        <!-- Social Media Logo -->
        <div class="social-logo">
            <a href="{{ social.linkName1 }}" target="_blank" class="social-link">
              <div class="tiktok">
                  <span class="tiktok-icon"><i class="fab fa-tiktok fa-3x"></i></span>
              </div>
            </a>
            <a href="{{ social.linkName2 }}" target="_blank" class="social-link">
              <div class="facebook">
                  <span class="facebook-icon"><i class="fab fa-facebook fa-3x"></i></span>
              </div>
            </a>
            <a href="{{ social.linkName3 }}" target="_blank" class="social-link">
              <div class="instagram">
                  <span class="instagram-icon"><i class="fab fa-instagram fa-3x"></i></span>
              </div>
            </a>
            <a href="{{ social.linkName4 }}" class="social-link">
              <div class="email">
                  <span class="email-icon"><i class="fas fa-envelope fa-3x"></i></span>
              </div>
            </a>
            <a href="{{ social.linkName5 }}" target="blank" class="social-link">
              <div class="telegram">
                  <span class="telegram-icon"><i class="fab fa-telegram fa-3x"></i></span>
              </div>
            </a>
        </div>

        <!-- Other Event Link -->
        <div class="other-event-link">

            <a href="{{ event['eventLink1'] }}" target="blank" style="text-decoration: none;">
                <div class="merch-card">
                    <div class="merch-text">{{ event['eventName1'] }}</div>
                </div>
            </a>
            
            <a href="{{ event['eventLink2'] }}" target="blank" style="text-decoration: none;">
                <div class="gpr-card">
                    <div class="gpr-text">{{ event['eventName2'] }}</div>
                </div>
            </a>
            
            <a href="{{ event['eventLink3'] }}" target="blank" style="text-decoration: none;">
                <div class="pv-card">
                    <div class="pv-text">{{ event['eventName3'] }}</div>
                </div>
            </a>
            
            <a href="{{ event['eventLink4'] }}" target="blank" style="text-decoration: none;">
                <div class="mus-card">
                    <div class="mus-text">{{ event['eventName4'] }}</div>
                </div>
            </a>
            
            <a href="{{ event['eventLink5'] }}" target="blank" style="text-decoration: none;">
                <div class="fctc-card">
                    <div class="fctc-text">{{ event['eventName5'] }}</div>
                </div>
            </a>
            
            <a href="{{ event['eventLink6'] }}" target="blank" style="text-decoration: none;">
                <div class="tbp-card">
                    <div class="tbp-text">{{ event['eventName6'] }}</div>
                </div>
            </a>
            
            <a href="{{ event['eventLink7'] }}" target="blank" style="text-decoration: none;">
                <div class="jos-card">
                    <div class="jos-text">{{ event['eventName7'] }}</div>
                </div>
            </a>
            
            <a href="{{ event['eventLink8'] }}" target="blank" style="text-decoration: none;">
                <div class="dadca-card">
                    <div class="dadca-text">{{ event['eventName8'] }}</div>
                </div>
            </a>
            
            <a href="{{ event['eventLink9'] }}" target="blank" style="text-decoration: none;">
                <div class="tstad-card">
                    <div class="tstad-text">{{ event['eventName9'] }}</div>
                </div>
            </a>
            
            <a href="{{ event['eventLink10'] }}" target="blank" style="text-decoration: none;">
                <div class="bc-card">
                    <div class="bc-text">{{ event['eventName10'] }}</div>
                </div>
            </a>
            
            <a href="{{ event['eventLink11'] }}" target="blank" style="text-decoration: none;">
                <div class="cc-card">
                    <div class="cc-text">{{ event['eventName11'] }}</div>
                </div>
            </a>
            
            <a href="{{ event['eventLink12'] }}" target="blank" style="text-decoration: none;">
                <div class="oo-card">
                    <div class="oo-text">{{ event['eventName12'] }}</div>
                </div>
            </a>            
        </div>
    </div>
    </div>
</body>
<footer class="footer">
  <div class="sponsor">
      <div class="sponsor-text">ORGANISED BY & SPONSORED BY</div>
      <div class="sponsor-logos">
          <img class="Logo1" src="{{ url_for('static', filename='Image/sponsor1.jpg') }}" alt="Sponsor 1" />
          <img class="Logo2" src="{{ url_for('static', filename='Image/sponsor2.png') }}" alt="Sponsor 2" />
          <img class="Logo3" src="{{ url_for('static', filename='Image/sponsor3.png') }}" alt="Sponsor 3" />
          <img class="Logo4" src="{{ url_for('static', filename='Image/profile pic.png') }}" alt="Sponsor 4" />
      </div>
  </div>

  <div class="footer-sections">
      <div class="footer-section follow-us">
          <h3>FOLLOW US</h3>
          <div class="social-icons">
              <div class="social-item">
                  <a href="https://www.instagram.com/3KPP_USM" target="_blank" class="social-link">
                      <i class="fab fa-instagram"></i>
                      <p>3KPP_USM</p>
                  </a>
              </div>
              <div class="social-item">
                  <a href="https://www.tiktok.com/@3KPP_USM" target="_blank" class="social-link">
                      <i class="fab fa-tiktok"></i>
                      <p>3KPP_USM</p>
                  </a>
              </div>
              <div class="social-item">
                  <a href="https://www.facebook.com/KARNIVALKEUSAHAWAN" target="_blank" class="social-link">
                      <i class="fab fa-facebook"></i>
                      <p>KARNIVAL KEUSAHAWAN & KERJAYA PULAU PINANG</p>
                  </a>
              </div>
          </div>
      </div>

      <div class="footer-section register-now">
          <h3>REGISTER NOW</h3>
          <p onclick="window.location.href='/Public/student_register'">USM Student</p>
          <p onclick="window.location.href='/Public/public_register'">Public</p>
      </div>

      <div class="footer-section about-event">
          <h3>ABOUT EVENT</h3>
          <p onclick="window.location.href='/Public/route'">Event Route</p>
      </div>

      <div class="footer-section package">
          <h3>PACKAGE</h3>
          <p onclick="window.location.href='/Public/packages'">View Running Kit Package</p>
      </div>

      <div class="footer-section about-us">
          <h3>ABOUT US</h3>
          <p onclick="window.location.href='/Public/about-us'">About Us</p>
          <p onclick="window.location.href='/Public/contact_us'">Contact Us</p>
      </div>
  </div>

  <div class="footer-bottom">
      <div class="line"></div>
      <p>&copy; 2024 Universiti Sains Malaysia (USM). All rights reserved.</p>
  </div>
</footer>
</html>

<script>
    // The top menu effect function
    const header = document.querySelector('.header');
  
    // Add scroll event listener
    window.addEventListener('scroll', () => {
      if (window.scrollY > 0) {
        header.classList.add('shrink');
      } else {
        header.classList.remove('shrink');
      }
    });

    function toggleMenu() {
        const leftStructure = document.querySelector('.header-structure-left');
        const rightStructure = document.querySelector('.header-structure-right');
        leftStructure.classList.toggle('menu-open'); // Toggle the visibility of the left structure
        rightStructure.classList.toggle('menu-open'); // Toggle the visibility of the right structure
    }
</script>