<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glow Paint Run</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header&footer.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='about_us.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo">
          <a href="/">
              <img src="{{ url_for('static', filename='Image/profile pic.png') }}" alt="Logo">
          </a>
        </div> 
        <div class="header-structure">
          <div class="header-item">Register
            <i class="fa fa-caret-down"></i>
            <ul class="header-subitem">
                <li><a href="#" onclick="window.location.href='/Public/student_register'">USM Student</a></li>
                <li><a href="#" onclick="window.location.href='/Public/public_register'">Public</a></li>
            </ul>
          </div>
          <div class="header-item" onclick="window.location.href='/Public/route'">Event Route</div>
          <div class="header-item" onclick="window.location.href='/Public/packages'">Packages</div>
          <div class="header-item">About Us
            <i class="fa fa-caret-down"></i>
            <ul class="header-subitem">
              <li><a href="#" onclick="window.location.href='/Public/about_us'">About Us</a></li>
              <li><a href="#" onclick="window.location.href='/Public/contact_us'">Contact Us</a></li>
            </ul>
         </div>
        </div>
        <div class="profile-icon" onclick="window.location.href='/Organiser/login'">
          <i class='fas fa-user-alt' style="font-size: 24px;"></i>
        </div>
      </div> 

    <div class="container">
        <h1 class="title">ABOUT US</h1>
    </div>

    <div class="information">
        <div class="profile">
            <img src="{{ url_for('static', filename='Image/profile pic.png') }}" alt="profile_pic">
        </div>
        <div class="name">
            <span>3KPP24 <br> KARNIVAL KEUSAHAWANAN DAN KERJAYA PULAU PINANG 2024</span>
        </div>

        <!-- Social Media Logo -->
        <div class="social-logo">
            <div class="tiktok">
                <span class="tiktok-icon"><i class="fab fa-tiktok fa-2x"></i></span>
            </div>
            <div class="facebook">
                <span class="facebook-icon"><i class="fab fa-facebook fa-2x"></i></span>
            </div>
            <div class="instagram">
                <span class="instagram-icon"><i class="fab fa-instagram fa-2x"></i></span>
            </div>
            <div class="email">
                <span class="email-icon"><i class="fas fa-envelope fa-2x"></i></span>
            </div>
            <div class="telegram">
                <span class="telegram-icon"><i class="fab fa-telegram fa-2x"></i></span>
            </div>
        </div>

        <!-- Other Event Link -->
        <div class="other-event-link">

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeVF1T406NhiHMc-rsWdqyT-J2fGwln2D75pVhjmq857aUiOA/viewform" target="blank">
                <div class="merch-card">
                    <div class="merch-text">BUY OUR MERCH HERE</div>
                </div></a>
            
            <a href="/Public/public_register">
            <div class="gpr-card">
                <div class="gpr-text">GLOW PAINT RUN</div>
            </div></a>
            

            <a href="https://docs.google.com/forms/d/1aHKB3VLlZrnygYCovUyEVJxVPKCtyKhk4J9WQlFwvK0/closedform" target="blank">
            <div class="pv-card">
                <div class="pv-text">PENCARIAN VENDOR</div>
            </div></a>

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSd23LdT9vkZjLv45_gFpqr7gwRBgi-MGA9HM1x_GM4l6OsWgQ/viewform" target="blank">
            <div class="mus-card">
                <div class="mus-text">MAKE-UP STAR</div>
            </div></a>

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfctaKfw_UqGr1zi0FJkBHPsTGlJB2eavlJx3PBFfuf72x7Ag/closedform" target="blank">
            <div class="fctc-card">
                <div class="fctc-text">FROM CAMPUS TO CEO</div>
            </div></a>

            <a href="https://docs.google.com/forms/d/e/1FAIpQLScFsPt_0NE_sC4IAh5eoGtTUKHOJPmt4LtGD0xmdOZ9ItRp-Q/viewform" target="blank">
            <div class="tbp-card">
                <div class="tbp-text">TOTE BAG PAINTING</div>
            </div></a>

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdYvQrnzpN3YCJtCpM4pL6P1govqbcCtkthejmUU0H3YFkHZg/viewform" target="blank">
            <div class="jos-card">
                <div class="jos-text">JOIN OUR SECRETERIAT</div>
            </div></a>

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeTCBrvP0UIFO8XahAha77RdOrXSHQyKB0BPaXdKDhnbq0lxg/viewform" target="blank">
            <div class="dadca-card">
                <div class="dadca-text">DIY AIR DRY CLAY ART</div>
            </div></a>

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeINWfujbGY4WYUV7OSmXscoCV_uwj5zXAcrOiKyNbUB8xQ0w/viewform" target="blank">
            <div class="tstad-card">
                <div class="tstad-text">T-SHIRT TIE AND DYE</div>
            </div></a>

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf0vh2sn2hla9sz4C80mGcFsrWZLiUM6bvtRDO_nxQbuGGCOg/viewform" target="blank">
            <div class="bc-card">
                <div class="bc-text">BATIK COLOURING</div>
            </div></a>

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSf0xnoI5CP1d9m-nY6woICp2DnF7l0OBbN1yQ1ftSlOe-JTLQ/viewform" target="blank">
            <div class="cc-card">
                <div class="cc-text">CAPTURE & CREATE</div>
            </div></a>

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSecO3CD2qnLUf1kNiwR4HTKwYPtc5K8BBH7F2aMn9DpLWPD-g/viewform" target="blank">
            <div class="oo-card">
                <div class="oo-text">OTAKU ODYSEY</div>
            </div></a>

            <a href="https://api.whatsapp.com/send?phone=60124783587&text=Alya%20(HOD%20Netship)" target="blank">
            <div class="cfs-card">
                <div class="cfs-text">CONTACT FOR SPONSORSHIP</div>
            </div></a>

            <a href="https://api.whatsapp.com/send?phone=60164644619&text=AZFAR%20(Pengarah%20Projek)" target="blank">
            <div class="copd-card">
                <div class="copd-text">CONTACT OUR PROJECT DIRECTOR (AZFAR)</div>
            </div></a>
        </div>
    </div>
</body>
<footer class="footer">
    <div class="footer-section follow-us">
      <h3>FOLLOW US</h3>
      <div class="social-icons">
        <div class="social-item">
          <a href="https://www.instagram.com/3KPP_USM" target="_blank" class="social-link">
            <i class="fab fa-instagram" style="font-size: 20px; margin-right: 10px;"></i>
            <p>3KPP_USM</p>
          </a>
        </div>
        <div class="social-item">
          <a href="https://www.tiktok.com/@3KPP_USM" target="_blank" class="social-link">
            <i class="fab fa-tiktok" style="font-size: 20px; margin-right: 10px;"></i>
            <p>3KPP_USM</p>
          </a>
        </div>
        <div class="social-item">
          <a href="https://www.facebook.com/KARNIVALKEUSAHAWAN" target="_blank" class="social-link">
            <i class="fab fa-facebook" style="font-size: 20px; margin-right: 10px;"></i>
            <p>KARNIVAL KEUSAHAWAN & KERJAYA PULAU PINANG</p>
          </a>
        </div>
      </div>
    </div>
  
    <div class="footer-section register-now">
      <h3>REGISTER NOW</h3>
      <p onclick="window.location.href='/Public/student_register'">USM Student</p>
      <p onclick="window.location.href='/Public/public_register'">Public</p>
    </div>
  
    <div class="footer-section about-event">
      <h3>ABOUT EVENT</h3>
      <p onclick="window.location.href='/Public/route'">Event Route</p>
    </div>
  
    <div class="footer-section package">
      <h3>PACKAGE</h3>
      <p onclick="window.location.href='/Public/packages'">View Running Kit Package</p>
    </div>
  
    <div class="footer-section about-us">
      <h3>ABOUT US</h3>
      <p onclick="window.location.href='/Public/about-us'">About Us</p>
      <p onclick="window.location.href='/Public/contact_us'">Contact Us</p>
    </div>
  
    <div class="footer-bottom">
      <div class="line"></div>
      <p>&copy; 2024 Universiti Sains Malaysia (USM). All rights reserved.</p>
    </div>
  </footer>  
</html>

<script>
    // Select the header
    const header = document.querySelector('.header');
  
    // Add scroll event listener
    window.addEventListener('scroll', () => {
      if (window.scrollY > 0) {
        header.classList.add('shrink');
      } else {
        header.classList.remove('shrink');
      }
    });
</script>