<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glow Paint Run</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='payment.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header&footer.css')}}">
    <!-- Icon lib -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Irish Grover (for title) -->
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <!-- Inter text (for content) -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
  
<body>
    <div class="header">
      <div class="logo">
        <a href="/">
            <img src="{{ url_for('static', filename='Image/profile pic.png') }}" alt="Logo">
        </a>
      </div>
        <div class="header-structure">
          <div class="header-item">Register
            <i class="fa fa-caret-down"></i>
            <ul class="header-subitem">
                <li><a href="#" onclick="window.location.href='/Public/student_register'">USM Student</a></li>
                <li><a href="#" onclick="window.location.href='/Public/public_register'">Public</a></li>
            </ul>
          </div>
          <div class="header-item" onclick="window.location.href='/Public/route'">Event Route</div>
          <div class="header-item" onclick="window.location.href='/Public/packages'">Packages</div>
          <div class="header-item">About Us
            <i class="fa fa-caret-down"></i>
            <ul class="header-subitem">
              <li><a href="#" onclick="window.location.href='/Public/about_us'">About Us</a></li>
              <li><a href="#" onclick="window.location.href='/Public/contact_us'">Contact Us</a></li>
            </ul>
         </div>
        </div>
        <div class="profile-icon" onclick="window.location.href='/Public/login'">
          <i class='fas fa-user-alt' style="font-size: 24px;"></i>
        </div>
      </div>  
      <div class="top-bar">
            <div class="back-button" onclick="goBack()">
                <i class="fas fa-arrow-left"></i>  
            </div>        
            <div class="bar-text">MAKE PAYMENT</div>
       </div>
      <div class="payment-container">
        <div class="section order-details">
          <div class="order-details-title">
            <h3>ORDER DETAILS</h3>
          </div>
          <div class="order-details-content">
            <div class="order-message">Your order details are as follows:</div>
            <table>
              <tr>
                <td><strong>Order Number:</strong></td>
                <td>#123456</td>
              </tr>
              <td><strong>Selected Package:</strong></td>
                <td>{{ package }}</td>
              <tr>
                <td><strong>Selected Size:</strong></td>
                <td>{{ t_shirt_size }}</td>
              </tr>
              <tr>
                <td><strong>Package Price:</strong></td>
                <td>RM {{ package_price }}</td>
              </tr>
              {% if additional_price > 0 %}
              <tr>
                  <td><strong>Additional Price for {{ t_shirt_size }} size:</strong></td>
                  <td>RM {{ additional_price }}</td>
              </tr>
              {% endif %}
              <tr class="total-amount-row">
                <td><strong>Total Amount:</strong></td>
                <td>RM {{ total_amount }}</td>
              </tr>
            </table>
          </div>
        </div>        
              
       <div class="section online-transfer">
        <div class="online-transfer-title">
            <h3>ONLINE TRANSFER</h3>
        </div>
        <div class="online-transfer-content">
            <div transfer-message>Please make your payment through online transfer or scan the QR code.</div>
            <div class="bank-details">
                <p class="details-title">Bank Account Details:</p>
                <p class="details-content">
                    <strong>Name:</strong> TAN KAI XIN<br>
                    <strong>Bank:</strong> MAYBANK<br>
                    <strong>Account Number:</strong> 157438084281
                </p>
                <p class="reference-info"><strong> Receipt Reference:</strong> RUN 3KPP24</p>
            </div>
        </div>
    </div>    
    
    <div class="payment-sections">
      <div class="section qr-code">
          <div class="qr-code-title">
              <h3>QR CODE</h3>
          </div>
          <img src="{{ url_for('static', filename='Image/qr code.jpg') }}" alt="QR Code" class="qr-image">
      </div>
      <div class="section proof-of-payment">
          <div class="proof-of-payment-title">
              <h3>PROOF OF PAYMENT</h3>
          </div>
          <div class="proof-of-payment-content">
              <p>*Please rename the receipt file to your name <br/>(Eg. NAME-RUN 3KPP24)</p>
              <p>*Receipt must be in the format of <span style="color: #FF0303;">PDF/PNG/JPG</span></p>
              <div class="file-info">
                  <p>• Upload up to 5 supported files: PDF or image.</p>
                  <p>• Max 100 MB per file.</p>
              </div>
              <label for="receipt-upload" class="upload-btn">
                <i class="fas fa-upload"></i> Upload File
              </label>
              <input type="file" id="receipt-upload" name="receipt" accept="image/png, image/jpeg, application/pdf" multiple onchange="showFileName()">
              
              <div id="file-name-display"></div>
          </div>
      </div>
    </div>  
        
      <div class="terms-and-conditions">
        <p>You will receive an email confirmation after the submission of your registration.</p>
        <p><input type="checkbox" id="terms" name="terms"> Yes, I confirm that I have read, understood and agree to the all <a href="#" class="terms-link">terms and conditions </a>mentioned above.</p>
      </div>

      <div class="popup-window" id="termsPopup">
        <div class="popup-content">
            <span class="close-btn" id="closePopup">&times;</span>
            <h2>Terms and Conditions</h2>
            <div class="popup-body">
                <p>By registering for and/or attending the Glow Paint Run 2024, you agree to the following terms and conditions. Please read them carefully before proceeding with your submission.</p>
                
                <h3>Participant Eligibility and Responsibility:</h3>
                <ul>
                    <li>Open to Malaysian/Permanent Resident and overseas runners aged 15+.</li>
                    <li>Participants must ensure their fitness and health before the race.</li>
                    <li>Participants are responsible for their own safety and health during and after the race. The organizer is not liable for personal injury or death.</li>
                </ul>
                
                <h3>Personal Data:</h3>
                <ul>
                    <li>Personal data collected will be used for administrative purposes. Data will not be shared with third parties.</li>
                    <li>Participants must provide accurate information.</li>
                </ul>
                
                <h3>Registration and Payment:</h3>
                <ul>
                    <li>Entries are processed upon full payment.</li>
                    <li>The organizer reserves the right to close entries early if the race quota is filled.</li>
                </ul>
    
                <h3>Race Rules:</h3>
                <ul>
                    <li>Participants must complete the race on foot.</li>
                    <li>Participants must stay on the marked course.</li>
                    <li>Participants must wear the provided wristband.</li>
                    <li>Participants must be cautious of slippery conditions and other road users.</li>
                </ul>
    
                <h3>Medical Assistance:</h3>
                <ul>
                    <li>Medical personnel and ambulance services will be available on site.</li>
                    <li>Participants should consult a doctor if they have any doubts about their fitness.</li>
                </ul>
    
                <h3>Race Cancellation and Changes:</h3>
                <ul>
                    <li>The organizer may cancel, postpone, or change the race format due to unforeseen circumstances.</li>
                    <li>The organizer reserves the right to deny entry to any participant.</li>
                    <li>No refunds will be provided in case of cancellation or changes.</li>
                </ul>
    
                <h3>Transportation Details:</h3>
                <ul>
                    <li>Transport is applicable to participants from USM Engineering Campus ONLY.</li>
                </ul>
            </div>
        </div>
    </div>    
    
     <!-- Submit Button -->
     <div class="submit-section">
        <button class="submit-btn" onclick="showSuccess()">Submit Payment</button>
      </div>

      <!-- Success Window (Initially hidden) -->
      <div id="success-window" class="success-window">
        <div class="success-info">
            <div class="success-icon">
                <div class="vector">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </div>
            </div>
            <div class="success-text">You will receive an email confirmation soon!</div>
            <div class="button" onclick="goHome()">
                <span class="done">Done</span>
            </div>
        </div>
      </div>

    </div>
</body>
<footer class="footer">
    <div class="footer-section follow-us">
      <h3>FOLLOW US</h3>
      <div class="social-icons">
        <div class="social-item">
          <a href="https://www.instagram.com/3KPP_USM" target="_blank" class="social-link">
            <i class="fab fa-instagram" style="font-size: 20px; margin-right: 10px;"></i>
            <p>3KPP_USM</p>
          </a>
        </div>
        <div class="social-item">
          <a href="https://www.tiktok.com/@3KPP_USM" target="_blank" class="social-link">
            <i class="fab fa-tiktok" style="font-size: 20px; margin-right: 10px;"></i>
            <p>3KPP_USM</p>
          </a>
        </div>
        <div class="social-item">
          <a href="https://www.facebook.com/KARNIVALKEUSAHAWAN" target="_blank" class="social-link">
            <i class="fab fa-facebook" style="font-size: 20px; margin-right: 10px;"></i>
            <p>KARNIVAL KEUSAHAWAN & KERJAYA PULAU PINANG</p>
          </a>
        </div>
      </div>
    </div>
  
    <div class="footer-section register-now">
      <h3>REGISTER NOW</h3>
      <p onclick="window.location.href='/Public/student_register'">USM Student</p>
      <p onclick="window.location.href='/Public/public_register'">Public</p>
    </div>
  
    <div class="footer-section about-event">
      <h3>ABOUT EVENT</h3>
      <p onclick="window.location.href='/Public/route'">Event Route</p>
    </div>
  
    <div class="footer-section package">
      <h3>PACKAGE</h3>
      <p onclick="window.location.href='/Public/packages'">View Running Kit Package</p>
    </div>
  
    <div class="footer-section about-us">
      <h3>ABOUT US</h3>
      <p onclick="window.location.href='/Public/about-us'">About Us</p>
      <p onclick="window.location.href='/Public/contact_us'">Contact Us</p>
    </div>
  
    <div class="footer-bottom">
      <div class="line"></div>
      <p>&copy; 2024 Universiti Sains Malaysia (USM). All rights reserved.</p>
    </div>
  </footer> 
</html>

<script>
    // Select the header
    const header = document.querySelector('.header');
  
    // Add scroll event listener
    window.addEventListener('scroll', () => {
      if (window.scrollY > 0) {
        header.classList.add('shrink');
      } else {
        header.classList.remove('shrink');
      }
    });

    function goBack() {
      window.history.back(); 
    }

    // Function to calculate final price based on package and size
// function calculatePrice(packageName, size) {
//     let packagePrices = {
//         "Glow-rious Pro": 50.00,
//         "Glow-rious Lite": 35.00,
//         "Glow-rious Starter": 15.00
//     };

//     let sizeSurcharge = 0;
//     if (size === "3XL") sizeSurcharge = 3;
//     else if (size === "4XL") sizeSurcharge = 5;
//     else if (size === "5XL") sizeSurcharge = 7;
//     else if (size === "6XL") sizeSurcharge = 9;

//     let basePrice = packagePrices[packageName] || 0;
//     let finalPrice = basePrice + sizeSurcharge;

//     // Displaying updated values in the Order Details section
//     document.querySelector('.order-details-content').innerHTML = `
//         <p>Order Number: <strong>#123456</strong></p>
//         <p>Selected Package: <strong>${packageName}</strong> - RM ${basePrice.toFixed(2)}</p>
//         <p>Selected Size: <strong>${size}</strong> (Additional RM ${sizeSurcharge.toFixed(2)})</p>
//         <p>Total Amount: <strong>RM ${finalPrice.toFixed(2)}</strong></p>
//     `;
// }

//   // Example usage with values from the registration form (pass these values dynamically)
//   calculatePrice("Glow-rious Lite", "3XL");
    function showFileName() {
    
    // Get the selected file(s)
    var input = document.getElementById("receipt-upload");
    var fileNameDisplay = document.getElementById("file-name-display");
    
    // Display the file name(s)
    var files = input.files;
    if (files.length > 0) {
        var fileNames = [];
        for (var i = 0; i < files.length; i++) {
            fileNames.push(files[i].name);
        }
        fileNameDisplay.textContent = "Selected file: " + fileNames.join(", ");
    } else {
        fileNameDisplay.textContent = "No file selected";
    }
}

  // Function to show the success window when the submit button is pressed
  function showSuccess() {
      const successWindow = document.getElementById('success-window'); // Fetch the element
      successWindow.style.display = "flex"; // Show the success window
  }

  // Function to navigate to the home page when the Done button is clicked
  function goHome() {
      const successWindow = document.getElementById('success-window'); // Fetch the element
      successWindow.style.display = "none"; // Hide the success window
      window.location.href = '/'; // Redirect to the home page
  }


  document.addEventListener("DOMContentLoaded", function () {
    const termsLink = document.querySelector(".terms-link");
    const popup = document.getElementById("termsPopup");

    // Show the popup when the link is clicked
    termsLink.addEventListener("click", function (event) {
        event.preventDefault(); // Prevent default link behavior
        popup.style.display = "flex"; // Show the popup
    });

    // Close the popup when the close button is clicked
    closePopup.addEventListener("click", function () {
        popup.style.display = "none"; // Hide the popup
    });

    // Close the popup when clicking outside of the popup content
    window.addEventListener("click", function (event) {
        if (event.target === popup) {
            popup.style.display = "none"; // Hide the popup if clicking outside
        }
    });
});

</script>