<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glow Paint Run</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='public_register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header&footer.css')}}">
    <!-- Icon lib -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Irish Grover (for title) -->
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <!-- Inter text (for content) -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
  
<body>
  <div class="header">
    <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
    <div class="header-structure-left">
        <div class="header-item" onclick="window.location.href='/'">Dashboard</div>
        <div class="header-item">Register
            <i class="fa fa-caret-down"></i>
            <ul class="header-subitem">
                <li><a href="#" onclick="window.location.href='/Public/student_register'">USM Student</a></li>
                <li><a href="#" onclick="window.location.href='/Public/public_register'">Public</a></li>
            </ul>
        </div>
        <div class="header-item" onclick="window.location.href='/Public/route'">Event Route</div>
        <div class="header-item" onclick="window.location.href='/Public/packages'">Packages</div>
        <div class="header-item">About Us
            <i class="fa fa-caret-down"></i>
            <ul class="header-subitem">
                <li><a href="#" onclick="window.location.href='/Public/about_us'">About Us</a></li>
                <li><a href="#" onclick="window.location.href='/Public/contact_us'">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="header-structure-right">
        <div class="login-btn" onclick="window.location.href='/Organiser/login'">
            <i class='fas fa-user-alt'></i>
            <div class="login-text">Login</div>
        </div>
    </div>
</div>      
      <div class="top-bar">
            <div class="back-button" onclick="goBack()">
                <i class="fas fa-arrow-left"></i>  
            </div>        
            <div class="bar-text">REGISTER AS PUBLIC</div>
            <button class="bar-button" onclick="window.location.href='/Public/student_register'">REGISTER AS USM STUDENT</button>
       </div>
      <form method="POST" action="/submit-form2">
       <div class="form-container">
        <div class="form-row">
          <!-- Left Column (Personal Details) -->
          <div class="column-left">
            <div class="input-group">
              <label for="full-name">FULL NAME</label>
              <input type="text" id="full-name" name="full-name" placeholder="FULL NAME AS IN NRIC / PASSPORT" />
            </div>
      
            <div class="input-group">
              <label for="ic-passport-number">IC / PASSPORT NUMBER</label>
              <input type="text" id="ic-passport-number" name="ic-passport-number" placeholder="(Eg. 901202-01-1234)" />
            </div>
      
            <div class="input-group">
              <label for="phone-number">PHONE NUMBER</label>
              <input type="tel" id="phone-number" name="phone-number" placeholder="(Eg. 012-3456789)" />
            </div>

            <div class="input-group">
                <label for="email">EMAIL</label>
                <input type="email" id="email" name="email" placeholder="(Eg. abc@gmail.com)" />
              </div>
      
            <div class="input-group">
              <label for="package-details">PACKAGE DETAILS</label>
              <input type="text" id="package-details" name="package-details" value="Glow-rious Pro (RM50)" readonly />

              <div class="view">
                <a href="#" class=package-link>VIEW PACKAGES</a>
            </div>

            <div class="popup-window" id="packagePopup">
              <div class="popup-content">
                <span class="close-btn" id="closePopup">&times;</span>
                <h2>Packages</h2>
                <div class="popup-body">
                  <h3>Glow-rious Pro (RM 50)</h3>
                  <ul>
                    <li>T-Shirt</li>
                    <li>LED Stick</li>
                    <li>Refreshments</li>
                    <li>Drawing Bag</li>
                    <li>Face Paint Service (TNC Applied)</li>
                    <li>Lucky Draw Ticket</li>
                    <li>Wristband</li>
                    <li>Medal</li>
                  </ul>
                </div>
              </div>
            </div>
            </div>
          </div>
      
          <!-- Right Column (T-shirt Size) -->
          <div class="column-right">

            <p class="t-shirt-text">T-SHIRT SIZE</p>
            <div class="size-selection-images">
              <img class="shirt-size" src="{{ url_for('static', filename='Image/shirt front.png') }}" alt="Shirt Front" />
              <img class="shirt-size-chart" src="{{ url_for('static', filename='Image/shirt back.png') }}" alt="Shirt Back" />
            </div>
      
            <div class="additional-info">
              <p class="small-text">PLEASE BE INFORMED THAT THERE ARE ADDITIONAL FEES CHARGED FOR T-SHIRT SIZES BEYOND 3XL</p>
            </div>
            
            <div class="size-selection-images2">
                <img class="ShirtSize" src="{{ url_for('static', filename='Image/shirt size.jpg') }}" alt="Shirt Size"/>
                <div class="size-selection-images3">
                  <img class="ShirtSizeChart" src="{{ url_for('static', filename='Image/shirt size chart.png') }}" alt="Shirt Size Chart"/>
                  <div class="MeasurementArea">
                    *MEASUREMENT ARE PRESENTED IN INCH <br>
                    *ALL MEASUREMENT ABOVE SUBJECT TO +/- 1 INCHES TOLERANCES
                  </div>
                  <div class="input-group2">
                    <label for="t-shirt-size">SIZE SELECTION</label>
                    <select id="t-shirt-size" name="t-shirt-size">
                      <option value="default">--Select Size--</option>
                      <option value="S">S</option>
                      <option value="M">M</option>
                      <option value="L">L</option>
                      <option value="XL">XL</option>
                      <option value="2XL">2XL</option>
                      <option value="3XL">3XL + (RM 3)</option>
                      <option value="4XL">4XL + (RM 5)</option>
                      <option value="5XL">5XL + (RM 7)</option>
                      <option value="6XL">6XL + (RM 9)</option>
                      <option value="7XL">7XL + (RM 11)</option>
                    </select>
                </div>
                </div>
              </div>      


          </div>
        </div>
      
        <div class="proceed-button">
          <button class="btn-proceed" onclick="window.location.href='/Public/payment'">Proceed to Payment</button>
        </div>
      </div>  
    </form>    

</body>
<footer class="footer">
  <div class="sponsor">
      <div class="sponsor-text">ORGANISED BY & SPONSORED BY</div>
      <div class="sponsor-logos">
          <img class="Logo1" src="{{ url_for('static', filename='Image/sponsor1.jpg') }}" alt="Sponsor 1" />
          <img class="Logo2" src="{{ url_for('static', filename='Image/sponsor2.png') }}" alt="Sponsor 2" />
          <img class="Logo3" src="{{ url_for('static', filename='Image/sponsor3.png') }}" alt="Sponsor 3" />
          <img class="Logo4" src="{{ url_for('static', filename='Image/profile pic.png') }}" alt="Sponsor 4" />
      </div>
  </div>

  <div class="footer-sections">
      <div class="footer-section follow-us">
          <h3>FOLLOW US</h3>
          <div class="social-icons">
              <div class="social-item">
                  <a href="https://www.instagram.com/3KPP_USM" target="_blank" class="social-link">
                      <i class="fab fa-instagram"></i>
                      <p>3KPP_USM</p>
                  </a>
              </div>
              <div class="social-item">
                  <a href="https://www.tiktok.com/@3KPP_USM" target="_blank" class="social-link">
                      <i class="fab fa-tiktok"></i>
                      <p>3KPP_USM</p>
                  </a>
              </div>
              <div class="social-item">
                  <a href="https://www.facebook.com/KARNIVALKEUSAHAWAN" target="_blank" class="social-link">
                      <i class="fab fa-facebook"></i>
                      <p>KARNIVAL KEUSAHAWAN & KERJAYA PULAU PINANG</p>
                  </a>
              </div>
          </div>
      </div>

      <div class="footer-section register-now">
          <h3>REGISTER NOW</h3>
          <p onclick="window.location.href='/Public/student_register'">USM Student</p>
          <p onclick="window.location.href='/Public/public_register'">Public</p>
      </div>

      <div class="footer-section about-event">
          <h3>ABOUT EVENT</h3>
          <p onclick="window.location.href='/Public/route'">Event Route</p>
      </div>

      <div class="footer-section package">
          <h3>PACKAGE</h3>
          <p onclick="window.location.href='/Public/packages'">View Running Kit Package</p>
      </div>

      <div class="footer-section about-us">
          <h3>ABOUT US</h3>
          <p onclick="window.location.href='/Public/about-us'">About Us</p>
          <p onclick="window.location.href='/Public/contact_us'">Contact Us</p>
      </div>
  </div>

  <div class="footer-bottom">
      <div class="line"></div>
      <p>&copy; 2024 Universiti Sains Malaysia (USM). All rights reserved.</p>
  </div>
</footer>

</html>

<script>
    // The top menu effect function
    const header = document.querySelector('.header');
  
    // Add scroll event listener
    window.addEventListener('scroll', () => {
      if (window.scrollY > 0) {
        header.classList.add('shrink');
      } else {
        header.classList.remove('shrink');
      }
    });

    function toggleMenu() {
        const leftStructure = document.querySelector('.header-structure-left');
        const rightStructure = document.querySelector('.header-structure-right');
        leftStructure.classList.toggle('menu-open'); // Toggle the visibility of the left structure
        rightStructure.classList.toggle('menu-open'); // Toggle the visibility of the right structure
    }
    
    function goBack() {
      window.history.back(); 
    }

    document.addEventListener("DOMContentLoaded", function () {
    const packageLink = document.querySelector(".package-link");
    const popup = document.getElementById("packagePopup");

    packageLink.addEventListener("click", function (event) {
        event.preventDefault(); 
        popup.style.display = "flex"; 
    });

    closePopup.addEventListener("click", function () {
        popup.style.display = "none"; 
    });

    window.addEventListener("click", function (event) {
        if (event.target === popup) {
            popup.style.display = "none"; 
        }
        });
    });

  </script>