<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glow Paint Run</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header&footer.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='route.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  </head>
<body>
  <div class="header">
    <div class="logo">
      <a href="/">
          <img src="{{ url_for('static', filename='Image/profile pic.png') }}" alt="Logo">
      </a>
    </div> 
    <div class="header-structure">
      <div class="header-item">Register
        <i class="fa fa-caret-down"></i>
        <ul class="header-subitem">
            <li><a href="#" onclick="window.location.href='/Public/student_register'">USM Student</a></li>
            <li><a href="#" onclick="window.location.href='/Public/public_register'">Public</a></li>
        </ul>
      </div>
      <div class="header-item" onclick="window.location.href='/Public/route'">Event Route</div>
      <div class="header-item" onclick="window.location.href='/Public/packages'">Packages</div>
      <div class="header-item">About Us
        <i class="fa fa-caret-down"></i>
        <ul class="header-subitem">
          <li><a href="#" onclick="window.location.href='/Public/about_us'">About Us</a></li>
          <li><a href="#" onclick="window.location.href='/Public/contact_us'">Contact Us</a></li>
        </ul>
     </div>
    </div>
    <div class="profile-icon" onclick="window.location.href='/Organiser/login'">
      <i class='fas fa-user-alt' style="font-size: 24px;"></i>
    </div>
  </div>    

   <!--Route-->
   <div class="container">
      <h1>RUNNING ROUTE</h1>
      <div class="content">
        <img class="background-img" src="{{ url_for('static', filename='Image/routebg.png') }}" alt="Background Image">
      </div>
   </div>