<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glow Paint Run</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header&footer.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='or_about_us.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="flash-message-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
    
<div class="header">
    <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
    <div class="header-structure-left">
        <div class="header-item active" onclick="window.location.href='/Organiser/homepage'">Dashboard</div>
        <div class="header-item">Participant
            <i class="fa fa-caret-down"></i>
            <ul class="header-subitem">
                <li><a href="#" onclick="window.location.href='/Organiser/student_participant_list'">USM Student</a></li>
                <li><a href="#" onclick="window.location.href='/Organiser/public_participant_list'">Public</a></li>
            </ul>
        </div>
        <div class="header-item" onclick="window.location.href='/Organiser/info_list'">Event Route</div>
        <div class="header-item">About Us
            <i class="fa fa-caret-down"></i>
            <ul class="header-subitem">
                <li><a href="#" onclick="window.location.href='/Organiser/about_us'">About Us</a></li>
                <li><a href="#" onclick="window.location.href='/Organiser/contact_us'">Contact Us</a></li>
            </ul>
        </div>
        </div>
        <div class="header-structure-right">
            <div class="login-btn" onclick="window.location.href='/'">
                <i class='fas fa-power-off'></i>
                <div class="login-text">Log Out</div>
            </div>
        </div>
    </div> 
    <div class="top-bar">       
        <div class="bar-text">EVENT ROUTE</div>
    </div>
    <form method="POST" enctype="multipart/form-data" action="/Organiser/about_us">
    <button type="submit" class="save-btn">Save Changes</button>
    <div class="containers">
        <div class="information">
            <div class="profile-image">
                <img src="data:image/jpeg;base64,{{ profile.picture }}" alt="profile_pic">
            </div>
            <div class="upload-image">
                <label for="profile" class="upload-image-button">UPLOAD NEW IMAGE</label>
                <input type="file" id="profile" name="profile" accept="image/png, image/jpeg" style="display: none;">
            </div>
            <div class="fname">
                <label for="fname" class="fname">NAME:</label>
                <div class="name1">
                    <input type="text" id="name1" name="name1" value="{{ profile.name1 }}" style="width: 1000px">
                </div>
                <div class="name2">
                    <input type="text" id="name2" name="name2" value="{{ profile.name2 }}" style="width: 1000px">
                </div>
            </div>
            

            <!-- Social Media Logo -->
            <div class="title">Social Media Link</div>
            <div class="social-logo">
                <div class="tiktok">
                    <span class="tiktok-icon"><i class="fab fa-tiktok fa-3x"></i></span>    
                    <div class="link">
                        <label for="link1" class="social-link">LINK:</label>
                        <input type="text" id="link1" name="link1" value="{{ social.linkName1 }}" style="width: 500px">
                    </div>
                </div>
                <div class="facebook">
                    <span class="facebook-icon"><i class="fab fa-facebook fa-3x"></i></span>
                    <div class="link">
                        <label for="link2" class="social-link">LINK:</label>
                        <input type="text" id="link2" name="link2" value="{{ social.linkName2 }}" style="width: 500px">
                    </div>
                </div>
                <div class="instagram">
                    <span class="instagram-icon"><i class="fab fa-instagram fa-3x"></i></span>
                    <div class="link">
                        <label for="link3" class="social-link">LINK:</label>
                        <input type="text" id="link3" name="link3" value="{{ social.linkName3 }}" style="width: 500px">
                    </div>
                </div>
                <div class="email">
                    <span class="email-icon"><i class="fas fa-envelope fa-3x"></i></span>
                    <div class="link">
                        <label for="link4" class="social-link">LINK:</label>
                        <input type="text" id="link4" name="link4" value="{{ social.linkName4 }}" style="width: 500px">
                    </div>
                </div>
                <div class="telegram">
                    <span class="telegram-icon"><i class="fab fa-telegram fa-3x"></i></span>
                    <div class="link">
                        <label for="link5" class="social-link">LINK:</label>
                        <input type="text" id="link5" name="link5" value="{{ social.linkName5 }}" style="width: 500px">
                    </div>
                </div>
            </div>

            <!-- Other Event Link -->
            <div class="title">Other Event Link</div>
            <div class="other-event-link">
                <div class="merch-card">
                    <label for="text1">NAME:</label>
                    <input type="text" id="text1" name="text1" value="{{ event['eventName1'] }}">
                    <label for="text2">LINK:</label>
                    <input type="text" id="text2" name="text2" value="{{ event['eventLink1'] }}">
                </div>

                <div class="gpr-card">
                    <label for="text3">NAME:</label>
                    <input type="text" id="text3" name="text3" value="{{ event['eventName2'] }}">
                    <label for="text4">LINK:</label>
                    <input type="text" id="text4" name="text4" value="{{ event['eventLink2'] }}">
                </div>
                
                <div class="pv-card">
                    <label for="text5">NAME:</label>
                    <input type="text" id="text5" name="text5" value="{{ event['eventName3'] }}">
                    <label for="text6">LINK:</label>
                    <input type="text" id="text6" name="text6" value="{{ event['eventLink3'] }}">
                </div>
                
                <div class="mus-card">
                    <label for="text7">NAME:</label>
                    <input type="text" id="text7" name="text7" value="{{ event['eventName4'] }}">
                    <label for="text8">LINK:</label>
                    <input type="text" id="text8" name="text8" value="{{ event['eventLink4'] }}">
                </div>
                
                <div class="fctc-card">
                    <label for="text9">NAME:</label>
                    <input type="text" id="text9" name="text9" value="{{ event['eventName5'] }}">
                    <label for="text10">LINK:</label>
                    <input type="text" id="text10" name="text10" value="{{ event['eventLink5'] }}">
                </div>
                
                <div class="tbp-card">
                    <label for="text11">NAME:</label>
                    <input type="text" id="text11" name="text11" value="{{ event['eventName6'] }}">
                    <label for="text12">LINK:</label>
                    <input type="text" id="text12" name="text12" value="{{ event['eventLink6'] }}">
                </div>
                
                <div class="jos-card">
                    <label for="text13">NAME:</label>
                    <input type="text" id="text13" name="text13" value="{{ event['eventName7'] }}">
                    <label for="text14">LINK:</label>
                    <input type="text" id="text14" name="text14" value="{{ event['eventLink7'] }}">
                </div>
                
                <div class="dadca-card">
                    <label for="text15">NAME:</label>
                    <input type="text" id="text15" name="text15" value="{{ event['eventName8'] }}">
                    <label for="text16">LINK:</label>
                    <input type="text" id="text16" name="text16" value="{{ event['eventLink8'] }}">
                </div>
                
                <div class="tstad-card">
                    <label for="text17">NAME:</label>
                    <input type="text" id="text17" name="text17" value="{{ event['eventName9'] }}">
                    <label for="text18">LINK:</label>
                    <input type="text" id="text18" name="text18" value="{{ event['eventLink9'] }}">
                </div>
                
                <div class="bc-card">
                    <label for="text19">NAME:</label>
                    <input type="text" id="text19" name="text19" value="{{ event['eventName10'] }}">
                    <label for="text20">LINK:</label>
                    <input type="text" id="text20" name="text20" value="{{ event['eventLink10'] }}">
                </div>
                
                <div class="cc-card">
                    <label for="text21">NAME:</label>
                    <input type="text" id="text21" name="text21" value="{{ event['eventName11'] }}">
                    <label for="text22">LINK:</label>
                    <input type="text" id="text22" name="text22" value="{{ event['eventLink11'] }}">
                </div>
                
                <div class="oo-card">
                    <label for="text23">NAME:</label>
                    <input type="text" id="text23" name="text23" value="{{ event['eventName12'] }}">
                    <label for="text24">LINK:</label>
                    <input type="text" id="text24" name="text24" value="{{ event['eventLink12'] }}">
                </div>                
            </div>
        </div>
    </div>
    </form>
</body>

<script>
    // The top menu effect function
    const header = document.querySelector('.header');
  
    // Add scroll event listener
    window.addEventListener('scroll', () => {
      if (window.scrollY > 0) {
        header.classList.add('shrink');
      } else {
        header.classList.remove('shrink');
      }
    });

    function toggleMenu() {
        const leftStructure = document.querySelector('.header-structure-left');
        const rightStructure = document.querySelector('.header-structure-right');
        leftStructure.classList.toggle('menu-open'); // Toggle the visibility of the left structure
        rightStructure.classList.toggle('menu-open'); // Toggle the visibility of the right structure
    }

       // Function to handle image preview
       function setupImageUpload(inputId, imgSelector) {
        const input = document.getElementById(inputId);
        input.addEventListener('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    // Update the image preview
                    document.querySelector(imgSelector).src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
    }

    // Set up image upload previews for all inputs
    document.addEventListener('DOMContentLoaded', function () {
        setupImageUpload('profile', '.profile-image img'); 
    });

    document.addEventListener('DOMContentLoaded', function () {
    setTimeout(function () {
        const flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach((msg) => {
            // Fade out effect
            msg.style.transition = 'opacity 0.5s ease';
            msg.style.opacity = '0';
            setTimeout(() => {
                msg.remove(); // Remove after fade out
            }, 500);
            });
        }, 3000); // Display for 3 seconds
    });
</script>