<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glow Paint Run</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header&footer.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='info-list.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
        <div class="header-structure-left">
            <div class="header-item" onclick="window.location.href='/Organiser/homepage'">Dashboard</div>
            <div class="header-item">Participant
                <i class="fa fa-caret-down"></i>
                <ul class="header-subitem">
                    <li><a href="#" onclick="window.location.href='/Organiser/student_participant_list'">USM Student</a></li>
                    <li><a href="#" onclick="window.location.href='/Organiser/public_participant_list'">Public</a></li>
                </ul>
            </div>
            <div class="header-item" onclick="window.location.href='/Organiser/info_list'">Event Route</div>
            <div class="header-item" onclick="window.location.href='/Organiser/response'">Response</div>
            <div class="header-item">About Us
                <i class="fa fa-caret-down"></i>
                <ul class="header-subitem">
                    <li><a href="#" onclick="window.location.href='/Organiser/about_us'">About Us</a></li>
                    <li><a href="#" onclick="window.location.href='/Organiser/contact_us'">Contact Us</a></li>
                </ul>
            </div>
            </div>
            <div class="header-structure-right">
                <div class="login-btn" onclick="window.location.href='/Organiser/login'">
                    <i class='fas fa-power-off'></i>
                    <div class="login-text">Log Out</div>
                </div>
            </div>
        </div>
    <div class="top-bar">       
        <div class="bar-text">EVENT ROUTE</div>
    </div>
    <div class="container">
    <div class="content">
    <div class="column-left">
        <div class="map">
            <div class="map-text">
                <span>CURRENT MAP</span>
            </div>
            <div class="map-image">
                <img class="background-img" src="{{ url_for('static', filename='Image/routebg.png') }}" alt="Background Image" width="70%">
            </div>
            <div class="map-upload">
                <label for="upload-map" class="upload-button">UPLOAD NEW MAP</label>
                <input type="file" id="upload-map" accept="image/png, image/jpeg" style="display: none;">
            </div>
        </div>
    </div>
    <div class="column-right">
        <div class="location">
            <label for="point-1">START / FINISH POINT</label>
            <input type="text" id="start-finish" name="start-finish" value="START / FINISH">
            <img class="background-img" src="{{ url_for('static', filename='Image/the bricks.jpg') }}" alt="Background Image">
            <div class="upload-image">
                <label for="upload-image" class="upload-image-button">UPLOAD NEW IMAGE</label>
                <input type="file" id="upload-image" accept="image/png, image/jpeg" style="display: none;">
            </div>
        </div>
        <div class="location">
            <label for="point-1">MAIN POINT 1</label>
            <input type="text" id="point-1" name="point-1" value="BUMBLEDEES CAFE">
            <img class="background-img" src="{{ url_for('static', filename='Image/bumbledees.jpg') }}" alt="Background Image">
            <div class="upload-image">
                <label for="upload-image" class="upload-image-button">
                    UPLOAD NEW IMAGE
                </label>
                <input type="file" id="upload-image" accept="image/png, image/jpeg" style="display: none;">
            </div>
        </div>
        <div class="location">
            <label for="point-1">MAIN POINT 2</label>
            <input type="text" id="point-2" name="point-2" value="MUZIUM & GALERI TUANKU FAUZIAH">
            <img class="background-img" src="{{ url_for('static', filename='Image/muzium.jpg') }}" alt="Background Image">
            <div class="upload-image">
                <label for="upload-image" class="upload-image-button">
                    UPLOAD NEW IMAGE
                </label>
                <input type="file" id="upload-image" accept="image/png, image/jpeg" style="display: none;">
            </div>
        </div>
        <div class="location">
            <label for="point-1">MAIN POINT 3</label>
            <input type="text" id="point-3" name="point-3" value="BUKIT CINTA">
            <img class="background-img" src="{{ url_for('static', filename='Image/bukit cinta.jpg') }}" alt="Background Image">
            <div class="upload-image">
                <label for="upload-image" class="upload-image-button">
                    UPLOAD NEW IMAGE
                </label>
                <input type="file" id="upload-image" accept="image/png, image/jpeg" style="display: none;">
            </div>
        </div>
        <div class="location">
            <label for="point-1">MAIN POINT 4</label>
            <input type="text" id="point-4" name="point-4" value="HBP">
            <img class="background-img" src="{{ url_for('static', filename='Image/hbp.jpg') }}" alt="Background Image">
            <div class="upload-image">
                <label for="upload-image" class="upload-image-button">
                    UPLOAD NEW IMAGE
                </label>
                <input type="file" id="upload-image" accept="image/png, image/jpeg" style="display: none;">
            </div>
        </div>
        <div class="location">
            <label for="point-1">MAIN POINT 5</label>
            <input type="text" id="point-5" name="point-5" value="DESASISWA FAJAR">
            <img class="background-img" src="{{ url_for('static', filename='Image/fajar.jpg') }}" alt="Background Image">
            <div class="upload-image">
                <label for="upload-image" class="upload-image-button">
                    UPLOAD NEW IMAGE
                </label>
                <input type="file" id="upload-image" accept="image/png, image/jpeg" style="display: none;">
            </div>
        </div>
        <div class="location">
            <label for="point-1">MAIN POINT 6</label>
            <input type="text" id="point-6" name="point-6" value="BHEPA">
            <img class="background-img" src="{{ url_for('static', filename='Image/bhepa.jpg') }}" alt="Background Image">
            <div class="upload-image">
                <label for="upload-image" class="upload-image-button">
                    UPLOAD NEW IMAGE
                </label>
                <input type="file" id="upload-image" accept="image/png, image/jpeg" style="display: none;">
            </div>
        </div>
        <div class="location">
            <label for="point-1">MAIN POINT 7</label>
            <input type="text" id="point-7" name="point-7" value="PUSAT RANCANGAN KOK">
            <img class="background-img" src="{{ url_for('static', filename='Image/koko.jpg') }}" alt="Background Image">
            <div class="upload-image">
                <label for="upload-image" class="upload-image-button">
                    UPLOAD NEW IMAGE
                </label>
                <input type="file" id="upload-image" accept="image/png, image/jpeg" style="display: none;">
            </div>
        </div>
       </div>
    </div>
    </div>
</body>
</html>

<script>
    // The top menu effect function
    const header = document.querySelector('.header');
  
    // Add scroll event listener
    window.addEventListener('scroll', () => {
      if (window.scrollY > 0) {
        header.classList.add('shrink');
      } else {
        header.classList.remove('shrink');
      }
    });

    function toggleMenu() {
        const leftStructure = document.querySelector('.header-structure-left');
        const rightStructure = document.querySelector('.header-structure-right');
        leftStructure.classList.toggle('menu-open'); // Toggle the visibility of the left structure
        rightStructure.classList.toggle('menu-open'); // Toggle the visibility of the right structure
    }
</script>