<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glow Paint Run</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='public_participant_list.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header&footer.css')}}">
    <!-- Icon lib -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Irish Grover (for title) -->
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap" rel="stylesheet">
    <!-- Inter text (for content) -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
  
<body>
    <div class="header">
        <div class="logo">
          <a href="/">
              <img src="{{ url_for('static', filename='Image/profile pic.png') }}" alt="Logo">
          </a>
        </div> 
        <div class="header-structure">
          <div class="header-item">Participants
            <i class="fa fa-caret-down"></i>
            <ul class="header-subitem">
                <li><a href="#" onclick="window.location.href='/Organiser/student_participant_list'">USM Student</a></li>
                <li><a href="#" onclick="window.location.href='/Organiser/public_participant_list'">Public</a></li>
            </ul>
          </div>
          <div class="header-item" onclick="window.location.href='/Organiser/info_list'">Event Route</div>
          <div class="header-item" onclick="window.location.href='/Organiser/response'">Response</div>
          <div class="header-item">About Us
            <i class="fa fa-caret-down"></i>
            <ul class="header-subitem">
              <li><a href="#" onclick="window.location.href='/Public/about_us'">About Us</a></li>
              <li><a href="#" onclick="window.location.href='/Public/contact_us'">Contact Us</a></li>
            </ul>
         </div>
        </div>
        <div class="logout-icon" onclick="window.location.href='/'">
          <i class='fas fa-power-off' style="font-size: 24px;"></i>
        </div>
      </div>

      <div class="top-bar">
        <div class="back-button" onclick="goBack()">
            <i class="fas fa-arrow-left"></i>  
        </div>        
        <div class="bar-text">PUBLIC PARTICIPANT LIST</div>
        <button class="bar-button" onclick="window.location.href='/Organiser/student_participant_list'">View Student Participant</button>
    </div> 
    <div class="search-filter">
        <input type="text" id="search" placeholder="Search by Name or IC Number">
    </div>

    <!-- Participant Table -->
    <table class="participant-table">
        <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>IC Number</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Package</th>
              <th>T-Shirt Size</th>
              <th>Total Amount</th>
              <th>Proof of Payment</th>
              <th>Kit</th>
              <th>Attend</th>
            </tr>
        </thead>
        <tbody id="participant-list">
          {% for public in publics %}
          <tr class="participant">
              <td>{{ loop.index }}</td>
              <td>{{ public.name }}</td>
              <td>{{ public.ICNumber }}</td>
              <td>{{ public.phone }}</td>
              <td>{{ public.email }}</td>
              <td>
                {% if public.package == 'Pro' %}
                    Glowrious Pro
                {% elif public.package == 'Lite' %}
                    Glowrious Lite
                {% elif public.package == 'Starter' %}
                    Glowrious Starter
                {% else %}
                    {{ public.package }}  
                {% endif %}
              </td>            
              <td>{{ public.tShirtSize }}</td>
              <td>{{ public.totalAmount }}</td>
              <td>
                {% if public.fileName %} 
                  <a href="{{ url_for('download_file', number=public.ICNumber) }}" class="download-link">
                    Download {{ public.fileName }}
                  </a>
                {% else %}
                  No File
                {% endif %}
              </td>          
              <td>
                <input type="checkbox" id="kit-{{ public.ICNumber }}" class="kit-checkbox" 
                       {% if public.status == 'check-in1' or public.status == 'check-in3' %} checked {% endif %}>
              </td>
              <td>
                  <input type="checkbox" id="attend-{{ public.ICNumber }}" class="attend-checkbox" 
                        {% if public.status == 'check-in2' or public.status == 'check-in3' %} checked {% endif %}>
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
</body>
<footer class="footer">
    <div class="footer-section follow-us">
      <h3>FOLLOW US</h3>
      <div class="social-icons">
        <div class="social-item">
          <a href="https://www.instagram.com/3KPP_USM" target="_blank" class="social-link">
            <i class="fab fa-instagram" style="font-size: 20px; margin-right: 10px;"></i>
            <p>3KPP_USM</p>
          </a>
        </div>
        <div class="social-item">
          <a href="https://www.tiktok.com/@3KPP_USM" target="_blank" class="social-link">
            <i class="fab fa-tiktok" style="font-size: 20px; margin-right: 10px;"></i>
            <p>3KPP_USM</p>
          </a>
        </div>
        <div class="social-item">
          <a href="https://www.facebook.com/KARNIVALKEUSAHAWAN" target="_blank" class="social-link">
            <i class="fab fa-facebook" style="font-size: 20px; margin-right: 10px;"></i>
            <p>KARNIVAL KEUSAHAWAN & KERJAYA PULAU PINANG</p>
          </a>
        </div>
      </div>
    </div>
  
    <div class="footer-section register-now">
      <h3>REGISTER NOW</h3>
      <p onclick="window.location.href='/Public/student_register'">USM Student</p>
      <p onclick="window.location.href='/Public/public_register'">Public</p>
    </div>
  
    <div class="footer-section about-event">
      <h3>ABOUT EVENT</h3>
      <p onclick="window.location.href='/Public/route'">Event Route</p>
    </div>
  
    <div class="footer-section package">
      <h3>PACKAGE</h3>
      <p onclick="window.location.href='/Public/packages'">View Running Kit Package</p>
    </div>
  
    <div class="footer-section about-us">
      <h3>ABOUT US</h3>
      <p onclick="window.location.href='/Public/about-us'">About Us</p>
      <p onclick="window.location.href='/Public/contact_us'">Contact Us</p>
    </div>
  
    <div class="footer-bottom">
      <div class="line"></div>
      <p>&copy; 2024 Universiti Sains Malaysia (USM). All rights reserved.</p>
    </div>
  </footer>  
</html>

<script>
    // Select the header
    const header = document.querySelector('.header');
  
    // Add scroll event listener
    window.addEventListener('scroll', () => {
      if (window.scrollY > 0) {
        header.classList.add('shrink');
      } else {
        header.classList.remove('shrink');
      }
    });

    function goBack() {
      window.history.back(); 
    }

    document.addEventListener("DOMContentLoaded", () => {
    const searchInput = document.getElementById("search");
    const participantList = document.getElementById("participant-list");
    const participants = [...document.querySelectorAll(".participant")];

    // Function to filter participants based on search and dropdown values
    function filterParticipants() {
        const searchValue = searchInput.value.toLowerCase();

        participants.forEach(participant => {
            const name = participant.querySelector("td:nth-child(2)").textContent.toLowerCase();
            const ICNumber = participant.querySelector("td:nth-child(3)").textContent.toLowerCase();

            const matchesSearch = name.includes(searchValue) || ICNumber.includes(searchValue);

            // Display the participant row if it matches the filter, otherwise hide it
            if (matchesSearch) {
                participant.style.display = "";
            } else {
                participant.style.display = "none";
            }
        });
    }

    // Add event listeners for the search and filter inputs
    searchInput.addEventListener("input", filterParticipants);

    // Initial filter (optional)
    filterParticipants();
  });

  document.querySelectorAll('.kit-checkbox, .attend-checkbox').forEach(checkbox => {
    checkbox.addEventListener('change', function() {
        const ICNumber = this.id.split('-')[1];  // Extracts ICNumber from 'kit-{ICNumber}' or 'attend-{ICNumber}'
        
        // Determine the new status based on the checkboxes
        let status = 'registered';  // Default status

        // Check if both checkboxes are checked
        const kitChecked = document.getElementById(`kit-${ICNumber}`).checked;
        const attendChecked = document.getElementById(`attend-${ICNumber}`).checked;

        if (kitChecked && attendChecked) {
            status = 'check-in3';
        } else if (kitChecked) {
            status = 'check-in1';
        } else if (attendChecked) {
            status = 'check-in2';
        }

        // Send the updated status to the backend
        updateStatusInDatabase(ICNumber, status);
    });
});

function updateStatusInDatabase(ICNumber, status) {
    fetch(`/update-status2/${ICNumber}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ status: status })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            console.log(`Status for public ${ICNumber} updated to ${status}`);
        } else {
            console.error('Failed to update status');
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
  }

</script>